/************************************************
    Header and Navigation Styles
************************************************/
.skip-to-content {
	display: none;
}
.navbar {
	.nav-link {
		text-decoration: none;
	}
	.icon-wrapper {
		width: 1rem;
		height: 1rem;
	}
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
	color: $gray-900;
}
.dropdown-toggle {
	.icon-wrapper {
		display: inline-flex;
	}
}
.dropdown-toggle::after {
	display: none;
}

// Media queries
@media (min-width: 1200px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.88rem;
		padding-left: 0.88rem;
	}
}
