/************************************************
    Header and Navigation Styles
************************************************/
.skip-to-content {
	display: none;
}
nav.navbar {
	.nav-fill {
		.nav-item {
			text-align: left;
		}
	}
	.nav-link {
		text-decoration: none;

		@include media-breakpoint-up(md) {
			@include fontSize(18);
		}

		@include media-breakpoint-up(xl) {
			padding-top: 1.25rem;
		}
	}
	.icon-wrapper {
		width: 0.75rem;
		height: 0.75rem;

		@include media-breakpoint-up(xl) {
			width: 1rem;
			height: 1rem;
			vertical-align: middle;
		}
	}

	.dropdown-toggle {
		.icon-wrapper {
			display: inline-flex;
		}

		&::after {
			display: none;
		}
	}

	.dropdown-menu {
		.dropdown-item {
			text-decoration: none;
			@include fontSize(18);
		}
	}
}
// .navbar-light .navbar-nav .nav-link,
// .navbar-light .navbar-nav .active > .nav-link {
// 	color: $gray-600;
// }

@include media-breakpoint-up(md) {
	.icon-xs-avatar-gray {
		padding: 0.5rem;
	}
}
@include media-breakpoint-up(xl) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 0.88rem;
		padding-left: 0.88rem;
	}
}
