/***************************************************
    Nav Tabs
***************************************************/
.nav-tabs {
	.nav-link {
		background-color: $blue;
		color: $white;
		text-decoration: none;

		&.active {
			background-color: $white;
			color: $blue;
			text-decoration: none;
		}
	}
}
