// /*************************************
//     Pixels to rem conversion
// *************************************/
$f10px: 0.625rem;
$f11px: 0.6875rem;
$f12px: 0.75rem;
$f13px: 0.8125rem;
$f14px: 0.875rem;
$f15px: 0.9375rem;
$f16px: 1rem;
$f17px: 1.0625rem;
$f18px: 1.125rem;
$f19px: 1.1875rem;
$f20px: 1.25rem;
$f21px: 1.3125rem;
$f22px: 1.375rem;
$f23px: 1.4375rem;
$f24px: 1.5rem;
$f25px: 1.5625rem;
$f26px: 1.625rem;
$f27px: 1.6875rem;
$f28px: 1.75rem;
$f29px: 1.8125rem;
$f30px: 1.875rem;
$f31px: 1.9375rem;
$f32px: 2rem;
$f33px: 2.0625rem;
$f34px: 2.125rem;
$f35px: 2.1875rem;
$f36px: 2.25rem;
$f37px: 2.3125rem;
$f38px: 2.375rem;
$f39px: 2.4375rem;
$f40px: 2.5rem;
$f41px: 2.5625rem;
$f42px: 2.625rem;
$f43px: 2.6875rem;
$f44px: 2.75rem;
$f45px: 2.8125rem;
$f46px: 2.875rem;
$f47px: 2.9375rem;
$f48px: 3rem;
$f49px: 3.0625rem;
$f50px: 3.125rem;
$f51px: 3.1875rem;
$f52px: 3.25rem;
$f53px: 3.3125rem;
$f54px: 3.375rem;
$f55px: 3.4375rem;
$f56px: 3.5rem;
$f57px: 3.5625rem;
$f58px: 3.625rem;
$f59px: 3.6875rem;
$f60px: 3.75rem;
$f61px: 3.8125rem;
$f62px: 3.875rem;
$f63px: 3.9375rem;
$f64px: 4rem;
