/***************************************************
    Nav Tabs
***************************************************/
// Tab styles
#tripToolsTabs {
	.card {
		background-color: transparent;
		border: 0;
	}
	.nav-tabs {
		margin-bottom: 2rem;

		.nav-item {
			flex-basis: 0;
			flex-grow: 1;
			text-align: center;
			background-color: $cyan;
			margin-bottom: 0;

			@include media-breakpoint-up(md) {
				position: relative;
				.icon-wrapper {
					position: absolute;
					top: 0.25rem;
				}

				&:nth-child(1) .icon-wrapper {
					left: 10px;
				}
				&:nth-child(2) .icon-wrapper {
					left: 35px;
				}
				&:nth-child(3) .icon-wrapper {
					left: 40px;
				}
			}

			@include media-breakpoint-up(lg) {
				position: relative;
				.icon-wrapper {
					position: absolute;
					top: 0.25rem;
				}

				&:nth-child(1) .icon-wrapper {
					left: 41px;
				}
				&:nth-child(2) .icon-wrapper {
					left: 66px;
				}
				&:nth-child(3) .icon-wrapper {
					left: 71px;
				}
			}

			@include media-breakpoint-up(xl) {
				position: relative;
				.icon-wrapper {
					position: absolute;
					top: 0.25rem;
				}

				&:nth-child(1) .icon-wrapper {
					left: 48px;
				}
				&:nth-child(2) .icon-wrapper {
					left: 84px;
				}
				&:nth-child(3) .icon-wrapper {
					left: 92px;
				}
			}

			.nav-link {
				background-color: $cyan;
				color: $white;
				text-decoration: none;

				@include media-breakpoint-up(md) {
					@include fontSize(22);
					font-weight: 700;
				}

				@include media-breakpoint-up(lg) {
					.svg-inactive {
						display: block !important;
					}
				}

				@include media-breakpoint-up(xl) {
					@include fontSize(32);
				}

				.svg-active {
					display: none !important;
				}

				.svg-inactive {
					display: block !important;
				}

				&.active {
					background-color: $white;
					color: $cyan;
					text-decoration: none;

					.svg-active {
						display: block !important;
					}

					.svg-inactive {
						display: none !important;
					}
				}
			}
			.icon-wrapper {
				width: 38px;
				height: 40px;

				@include media-breakpoint-up(sm) {
					top: 0.75rem;
				}

				@include media-breakpoint-up(md) {
					top: 0.9rem;
				}
			}
		}
		.nav-item.active {
			background-color: $white;
		}
	}
}
