/************************************************
    Trip Planner Module Styles
************************************************/
#tripPlanner {
	.tp-location-toggler .icon-wrapper {
		width: 2rem;
		height: 2rem;
	}

	.tp-time-elements {
		display: none;

		.icon-wrapper {
			width: 24px;
			height: 24px;

			@include media-breakpoint-up(md) {
				margin-top: 0.75rem !important;
			}
		}
	}

	.more-options {
		margin-bottom: 1rem;
		.card {
			.card-header {
				background-color: transparent;
				border-bottom: 0;
				padding: 0.438rem 0.5rem 0.438rem 1rem;

				@include media-breakpoint-up(md) {
					padding: 0.454rem 0.5rem 0.454rem 1rem;
				}

				.btn {
					text-decoration: none;
					color: $body-color;
					@include fontSize(17);
					font-weight: 500;
					padding: 0.016rem 0;

					@include media-breakpoint-up(md) {
						@include fontSize(23);
						padding: 0;
					}
				}
			}

			.card-body {
				background-color: $gray-100;
			}
		}
		@include media-breakpoint-up(xl) {
			margin-bottom: 1.5rem;
		}
	}
}
