.accordion {
	margin-bottom: 15px;

	.card .card-header {
		padding: 0.25rem !important;

		.btn {
			color: $gray-600;
			background-color: $teal;
			@include font-size(18);
			margin-bottom: 0;
			padding: 0.125rem 0.5rem;

			@include media-breakpoint-up(lg) {
				@include font-size(23);
				padding: 0.438rem 0.5rem;
			}

			&.collapsed {
				background-color: $gray-100;
			}

			.icon {
				margin-right: 1rem;

				&.chevron-down-blue {
					margin-right: 0;
				}
			}

			.btn-text {
				width: 100%;

				@include media-breakpoint-up(md) {
					width: auto;
				}
			}
		}

		.icon {
			width: 2.25rem;
			height: 2.25rem;

			@include media-breakpoint-up(lg) {
				width: 2.25rem;
				height: 2.25rem;
			}

			&.chevron-down-blue {
				width: 1rem;
				height: 1rem;

				@include media-breakpoint-up(lg) {
					width: 1rem;
					height: 1rem;
				}
			}

			&.bus-broadcast-color,
			&.alerts-color {
				width: 1.625rem;
				height: 1.625rem;

				@include media-breakpoint-up(lg) {
					width: 2.5rem;
					height: 2.5rem;
				}
			}
		}
	}
}
