.btn-container {
	text-align: center;
	margin: 0 auto;

	@include media-breakpoint-up(xl) {
		text-align: left;
	}
}

.btn {
	@include font-size(20);
	font-weight: $font-weight-bold;
	min-width: 13.75rem;
	margin-bottom: 1rem;

	@include media-breakpoint-up(md) {
		margin-right: 1rem;
	}

	@include media-breakpoint-up(lg) {
		@include font-size(23);
		min-width: 16.875rem;
		padding: 0.688rem 0.75rem;
		//margin-right: 0;
		margin-bottom: 1rem;
	}

	@include media-breakpoint-up(xl) {
		margin-right: 1rem;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&.btn-primary {
		position: relative;
		background-color: $yellow;
		color: $body-color;
		border: 2px solid $yellow;
		padding: 0.5rem 3rem;

		@include media-breakpoint-up(lg) {
			padding: 0.688rem 3rem;
		}

		&.has-icon-right::after {
			position: absolute;
			content: '';
			background-image: url('../../../../../img/svg/edit-blue.svg');
			background-repeat: no-repeat;
			top: 0.95rem;
			right: 0.75rem;
			width: 1.25rem;
			height: 1.25rem;

			@include media-breakpoint-up(lg) {
				top: 1.15rem;
				background-size: 1.25rem;
				width: 1.25rem;
				height: 1.25rem;
			}
		}

		&:hover,
		&:focus {
			color: #212529;
			background-color: #d9b300;
			border-color: #cca800;
		}
	}

	&.btn-secondary-ghost {
		color: $body-color;
		position: relative;
		border: 2px solid $cyan;
		padding: 0.5rem 3rem;

		@include media-breakpoint-up(lg) {
			padding: 0.688rem 3rem;
		}

		&.has-icon-left {
			&::before {
				position: absolute;
				content: '';
				background-image: url('../../../../../img/svg/arrow-left-blue.svg');
				background-repeat: no-repeat;
				top: 0.95rem;
				left: 0.75rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 1.15rem;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
				}
			}

			&:hover::before,
			&:focus::before {
				background-image: url('../../../../../img/svg/arrow-left-white.svg');
			}
		}

		&.has-icon-right {
			&::after {
				position: absolute;
				content: '';
				background-image: url('../../../../../img/svg/arrow-right-blue.svg');
				background-repeat: no-repeat;
				top: 0.95rem;
				right: 0.75rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 1.15rem;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
				}
			}

			&:hover::after,
			&:focus::after {
				background-image: url('../../../../../img/svg/arrow-right-white.svg');
			}
		}

		&:hover,
		&:focus {
			background-color: $blue;
			color: $white;
			border: 2px solid $blue;
		}
	}

	&.btn-secondary-ghost-alt {
		color: $white;
		position: relative;
		border: 2px solid white;
		padding: 0.5rem 3rem;

		@include media-breakpoint-up(lg) {
			padding: 0.688rem 3rem;
		}

		&.has-icon-left {
			&::before {
				position: absolute;
				content: '';
				background-image: url('../../../../../img/svg/arrow-left-white.svg');
				background-repeat: no-repeat;
				top: 0.95rem;
				left: 0.75rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 1.15rem;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
				}
			}

			&:hover::before,
			&:focus::before {
				background-image: url('../../../../../img/svg/arrow-left-blue.svg');
			}
		}

		&.has-icon-right {
			&::after {
				position: absolute;
				content: '';
				background-image: url('../../../../../img/svg/arrow-right-white.svg');
				background-repeat: no-repeat;
				top: 0.95rem;
				right: 0.75rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 1.15rem;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
				}
			}

			&:hover::after,
			&:focus::after {
				background-image: url('../../../../../img/svg/arrow-right-blue.svg');
			}
		}

		&:hover,
		&:focus {
			background-color: $white;
			color: $cyan !important;
			border: 2px solid $white;
		}
	}

	&.btn-anchor {
		color: $body-color;
		position: relative;
		border: 2px solid $blue;
		background-color: $white;
		min-width: 10.6275rem;
		padding: 0.5rem 0.75rem;

		&:hover,
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			background-color: $teal;
			border: 2px solid $cyan;
			color: $cyan;
		}
	}

	&.btn-anchor-lg {
		color: $body-color;
		position: relative;
		border: 2px solid $blue;
		background-color: $white;
		padding: 0.5rem 0.75rem;

		&:hover,
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			background-color: $teal;
			border: 2px solid $cyan;
			color: $cyan;
		}
	}

	&.btn-route,
	&.btn-route-lg,
	&.btn-value,
	&.btn-value-lg {
		color: $gray-600;
		background-color: $white;
		border: 2px solid $gray-300;
		border-radius: 4px;
		padding: 0.5rem 0.75rem;

		&:hover,
		&:not(:disabled):not(.disabled):active,
		&:not(:disabled):not(.disabled).active {
			background-color: $teal;
			border: 2px solid $cyan;
			color: $cyan;
		}
	}

	&.btn-route,
	&.btn-value {
		min-width: 70px !important;
		width: 70px;
	}

	&.btn-route-lg,
	&.btn-value-lg {
		min-width: 170px !important;
		width: 170px;
	}

	&.btn-cta-white {
		color: $white;
		border: 2px solid $white;
		position: relative;
		padding: 0.5rem 3rem;

		@include media-breakpoint-up(lg) {
			border: none;
			padding: 0.688rem 3rem;
		}

		&.has-icon-right {
			&::after {
				position: absolute;
				content: '';
				background-image: url('../../../../../img/svg/arrow-right-white.svg');
				background-repeat: no-repeat;
				top: 0.95rem;
				right: 0.75rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 1.15rem;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
				}
			}
		}
	}

	&.btn-link-white {
		color: $white;
		margin-bottom: 0;
		min-width: auto;
		position: relative;
		padding: 0.5rem 3rem;
		padding-left: 0;
		text-align: left;

		@include media-breakpoint-up(lg) {
			border: none;
			padding: 0.688rem 3rem;
		}

		&.has-icon-right {
			&::after {
				position: absolute;
				content: '';
				background-image: url('../../../../../img/svg/arrow-right-white.svg');
				background-repeat: no-repeat;
				top: 0.95rem;
				right: 0.75rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 1.15rem;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
				}
			}
		}
	}
}
