/**********************************************
    Form styles
**********************************************/
form {
	fieldset {
		width: 100%;

		legend {
			font-weight: 700;

			&.required {
				position: relative;
				@include font-size(16);
				font-weight: normal;

				@include media-breakpoint-up(lg) {
					@include font-size(18);
				}

				&::after {
					content: '*';
					position: absolute;
					top: 0;
					left: 7rem;
					@include font-size(43);
					color: $red;
					line-height: 1;

					@include media-breakpoint-up(lg) {
						left: 8rem;
						@include font-size(47);
					}
				}
			}
		}
	}

	.form-group,
	.input-group {
		margin-bottom: 1rem;
		width: 98%; // We set to 98% to accomodate the required symbol.

		&.required,
		&.required-custom {
			position: relative;

			&::after {
				content: '*';
				position: absolute;
				top: 0;
				right: -1rem;
				@include font-size(43);
				color: $red;
				line-height: 1;

				@include media-breakpoint-up(lg) {
					@include font-size(47);
				}
			}
		}

		.form-control,
		.custom-select {
			position: relative;
			display: block;
			height: 45px;
			color: $gray-300;
			@include font-size(18);
			padding: 0.375rem 0.75rem;

			@include media-breakpoint-up(lg) {
				height: 50px;
				@include font-size(23);
			}
		}

		textarea.form-control,
		select[multiple] {
			height: 100px;
		}

		label {
			color: $gray-300;
		}
	}

	.input-group {
		.form-control {
			border-right: none;
		}

		> .custom-file {
			height: 45px;

			@include media-breakpoint-up(lg) {
				height: 50px;
			}

			.custom-file-input {
				height: 45px;

				@include media-breakpoint-up(lg) {
					height: 50px;
				}
			}

			.custom-file-label {
				@include font-size(18);
				height: 45px;
				&::after {
					height: 43px;
				}
				@include media-breakpoint-up(lg) {
					height: 50px;
					@include font-size(23);

					&::after {
						height: 48px;
					}
				}
			}
		}

		// .has-addon {
		// 	width: 86%;

		// 	@include media-breakpoint-up(md) {
		// 		width: 93%;
		// 	}
		// }

		.input-group-append {
			.btn-primary {
				background-color: $white;
				border: none;

				&:visited,
				&:hover,
				&:active {
					background-color: $white;
				}

				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}

			a[data-toggle='popover'],
			button[data-toggle='popover'] {
				background-color: $white;
				border: 1px solid $border-color;
				border-left: none;
			}
		}
	}

	.row .col-md-6:last-child .input-group {
		width: 96%;
	}

	.custom-control {
		&.custom-checkbox {
			.custom-control-label {
				line-height: 1;
			}
		}
	}
}

// Required form elements styles
/* Denote label at top of forms */
.denote-required {
	position: relative;
	@include font-size(18);
	margin-left: 1.25rem;

	@include media-breakpoint-up(lg) {
		@include font-size(23);
	}

	.required-symbol {
		@include font-size(43);
		position: absolute;
		top: -0.5rem;
		left: -1.25rem;
		color: $red;

		@include media-breakpoint-up(lg) {
			@include font-size(47);
			line-height: 0;
			margin-right: 0.25rem;
			top: 1.7rem;
		}
	}
}

// .custom-file {
// 	.custom-file-label {
// 		@include media-breakpoint-up(lg) {
// 			height: 50px;
// 			@include font-size(23);

// 			&::after {
// 				height: 48px;
// 			}
// 		}
// 	}
// }
