#blog {
  img {
    width: 100%;
    height: auto;
  }
  a.categories {
    display: block;
    font-weight: $font-weight-bold;
    @include font-size(16);
    padding-bottom: 15px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 30px;
    }
  }

  .lead {
    margin-bottom: 0;
  }

  .pagination {
    margin-top: 15px;

    @include media-breakpoint-up(lg) {
      margin-top: 30px;
    }
  }
}
