<div id="nextripDepartures">
    <div class="card mb-3 p-2">
        <h2>Departures</h2>
        <p>
            Selby
            <abbr title="avenue">Ave</abbr>. and Dale
            <abbr title="street">St</abbr>.
            <br>Stop 17023
        </p>
        <div class="list-group mb-2">
            <div class="d-flex list-group-item pr-0 pl-0">
                <span class="nt-route-number mr-2">21 A</span>
                <span class="nt-route-name">Shelby-Lake / Uptown</span>
                <span class="nt-depart-time ml-auto">
                    <svg class="icon icon-broadcast-red blink mr-1"><use xlink:href="symbol-defs.svg#icon-broadcast-red"></use></svg>
                    6
                    <abbr title="minutes">min</abbr>
                </span>
            </div>
            <div class="d-flex list-group-item pr-0 pl-0">
                <span class="nt-route-number mr-2">21 A</span>
                <span class="nt-route-name">Shelby-Lake / Uptown</span>
                <span class="nt-depart-time ml-auto">
                    <svg class="icon icon-broadcast-red blink mr-1"><use xlink:href="symbol-defs.svg#icon-broadcast-red"></use></svg>
                    6
                    <abbr title="minutes">min</abbr>
                </span>
            </div>
            <div class="d-flex list-group-item pr-0 pl-0">
                <span class="nt-route-number mr-2">21 A</span>
                <span class="nt-route-name mr-2">SW Transit - Express - Chaska - Chanhassen Mpls</span>
                <span class="nt-depart-time ml-auto">10:00 p.m.</span>
            </div>
        </div>
        <a href="" class="nt-show-more-link">
            <svg class="icon icon-circle-plus-blue mr-2"><use xlink:href="symbol-defs.svg#icon-circle-plus-blue"></use></svg>
            <span class="nt-show-more">Show more</span>
        </a>
    </div>

    <div id="showMyBus" class="accordion nt-show-my-bus">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">
                    <button type="button" class="btn d-flex align-items-center btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false">
                        <svg class="icon icon-bus-broadcast-color mr-2"><use xlink:href="symbol-defs.svg#icon-bus-broadcast-color"></use></svg>
                        Show my bus
                        <svg class="icon icon-chevron-down-blue ml-auto"><use xlink:href="symbol-defs.svg#icon-chevron-down-blue"></use></svg>
                        <!-- <svg class="icon icon-chevron-up-blue ml-auto"><use xlink:href="symbol-defs.svg#icon-chevron-up-blue"></use></svg> -->
                    </button>
                </h3>
            </div>
            <div id="collapseMap" class="collapse">
                <div class="card-body p-0">
                    <img class="img-fluid" src="/img/TripPlanMap1.png">
                </div>
            </div>
        </div>
    </div>

    <!-- Elements to collapse -->
</div>
