#nextripModule {
	.nextrip-tab {
		background-color: $teal;
		color: $cyan;
		padding: 0.75rem 1.75rem;
		@include font-size(18);
		font-weight: 510;
		position: relative;
		@include media-breakpoint-up(md) {
			padding: 0.8rem 2rem;
			@include font-size(22);
		}

		&.active {
			background-color: $cyan !important;
			color: $white !important;
			&::after {
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				border-top: 8px solid $cyan;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				left: 45%;
				bottom: -7px;
			}
		}
	}

	.tab-content {
		width: 100%;
		padding-top: 0;
	}

	.form-group,
	.input-group {
		@include media-breakpoint-up(md) {
			max-width: 570px;
			margin: 0 auto 1rem auto;
		}

		.custom-width {
			width: 298px;
			@include media-breakpoint-up(md) {
				width: 529px;
			}

			@include media-breakpoint-up(lg) {
				width: 521px;
			}
		}
	}

	.input-group-append {
		.btn-primary {
			background-color: $white;
			border: 0;
		}
	}

	.select-route-direction,
	.select-route-stop {
		display: none;
	}

	#ntrUseCurrentLoc {
		margin-right: 0.25rem;

		@include media-breakpoint-up(md) {
			margin-right: 4.75rem;
		}
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	#ntUseCurrentLoc {
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}

	#nextripDepartures {
		//display: none;

		.stop-departures {
			margin-bottom: 1rem;
		}

		.card {
			background-color: $gray-100 !important;

			// .list-group-item {
			// 	display: flex;
			// 	margin-bottom: -0.8px !important;
			// 	&:nth-child(n + 4) {
			// 		display: none !important;
			// 	}
			// }

			table {
				margin-bottom: 0.5rem;

				caption {
					caption-side: top;
					padding-bottom: 0;
				}

				th {
					border-top: none;
					border-bottom-color: $gray-300;
				}
				td {
					border-color: $gray-300;
				}

				tr:last-child td {
					border-bottom: 1px solid $gray-300;
				}

				tbody {
					.route-number {
						font-weight: $font-weight-bold;
						width: 50px;

						@include media-breakpoint-up(lg) {
							width: 140px;
						}
					}

					.route-name {
						max-width: 218px;

						@include media-breakpoint-up(md) {
							max-width: 593px;
						}

						@include media-breakpoint-up(lg) {
							max-width: 807px;
						}

						@include media-breakpoint-up(xl) {
							width: 805px;
						}
					}

					.depart-time {
						font-weight: $font-weight-bold;
					}
				}

				tbody tr td:last-child {
					text-align: right;
				}
			}
		}

		.btn-toggle {
			text-align: left;
			width: 250px;
			margin: 0;
			padding: 0 !important;
		}

		.show {
			cursor: pointer;
			padding-top: 1rem;
			position: relative;

			&.more {
				display: none;

				&::before {
					content: '';
					background-image: url('../../../../../img/svg/circle-plus-blue.svg');
					background-repeat: no-repeat;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
					position: absolute;
					top: 0.5rem;
					left: 0;
				}
			}

			&.less {
				display: none;

				&::before {
					content: '';
					background-image: url('../../../../../img/svg/circle-minus-blue.svg');
					background-repeat: no-repeat;
					background-size: 1.25rem;
					width: 1.25rem;
					height: 1.25rem;
					position: absolute;
					top: 0.5rem;
					left: 0;
				}
			}

			.h4 {
				position: relative;
				color: $gray-600;
				line-height: 1.5;
				margin-left: 1.75rem;
			}

			.icon {
				position: absolute;
				top: 0.35rem;
				width: 1.25rem;
				height: 1.25rem;

				@include media-breakpoint-up(lg) {
					top: 0.5rem;
				}
			}

			.map-container {
				margin-top: -1rem;
				@include media-breakpoint-up(lg) {
					height: 696px;
				}
			}
		}

		// .route-number {
		// 	font-weight: $font-weight-bold;
		// 	width: 50px;

		// 	@include media-breakpoint-up(lg) {
		// 		width: 75px;
		// 	}
		// }

		// .route-name {
		// 	max-width: 218px;

		// 	@include media-breakpoint-up(md) {
		// 		max-width: 593px;
		// 	}

		// 	@include media-breakpoint-up(lg) {
		// 		max-width: 807px;
		// 	}

		// 	@include media-breakpoint-up(xl) {
		// 		max-width: 987px;
		// 	}
		// }

		// .depart-time {
		// 	font-weight: $font-weight-bold;
		// }
	}

	.show-my-bus {
		.icon-bus-broadcast-color {
			width: 40px;
			height: 40px;
		}

		.icon-chevron-down-blue {
			width: 1rem;
			height: 1rem;
		}
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type='number'] {
		-moz-appearance: textfield;
	}

	.nextrip-legend {
		font-size: 0.8rem;
		font-weight: 700;
		text-align: right;
		margin-bottom: 1rem;
	}

	.nextrip-legend > .icon {
		height: 0.75rem;
		width: 0.75rem;
	}
}
