/* GRH Global */

.grh-hide {
  display: none;
}

.grh-title {
  margin-top: 15px;
}

#grhOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #dddddd;
  opacity: 0.5;
}

#grhOverlay img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -28px;
}

/* GRH forms */

.grh-form label {
  font-style: italic; /* for mobile */
}

.grh-form input,
.grh-form textarea {
  font-weight: normal; /* for mobile */
}

.grh-form input:focus,
.grh-form button:focus {
  background: #99bbff !important;
}

.grh-lnk {
  color: #428bca;
  cursor: pointer;
}

.grh-textarea-box {
  font-weight: normal; /* for mobile */
}

#grh-validation-summary {
  display: none;
}

.grh-vld-sum-mob {
  padding-left: 25px;
  padding-right: 25px;
}

/*#grh-valid-summary-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}*/

/*
#grh-validation-summary {
    display: none;
    padding: 15px;
    background-color: #dddddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#grh-validation-summary p {
    margin-top: 0;
    color: #ff0000;
    font-weight: bold;
    font-size: 1.3em;
}

#grh-validation-summary a {
    color: #ff0000;
    display: block;
    margin: 8px 0;
}
*/
.grh-error {
  color: #ff0000;
}

.grh-invalid,
.grh-invalid label {
  background-color: #ffcccc !important;
}

div.grh-row-thin {
  margin-bottom: 0 !important;
}

ul.grh-list-styleno li {
  list-style-type: none;
}

ul.grh-list-styleno li label {
  display: inline-flex; /* keeps labels indented from rbtn inputs */
}

ul.grh-ul-inline,
ul.grh-ul-inline li {
  display: inline !important;
  border: none !important;
  padding: 2px !important;
}

label.grh-lbl-inline {
  display: inline;
}

div.grh-fieldgrp-inline {
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -opera-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  font-weight: normal; /* for mobile */
}

div.grh-fieldgrp-inline:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

div.grh-fieldgrp-inline label {
  display: block !important;
}

.grh-lbl-break {
  height: 0;
  width: 100%;
}

.grh-fld-inline {
  display: inline !important;
  margin-left: 6px;
}

.grh-col-inline {
  display: inline !important;
  clear: none !important;
}

/* date-time pickers */
.grh-datepicker span.add-on.date,
.grh-timepicker span.add-on.time {
  display: inline-block !important;
  margin-left: -3px;
}

.grh-datepicker span.add-on.date {
  height: 24px;
}

.grh-timepicker span.add-on.time {
  height: 22px;
}

.grh-datepicker input,
.grh-timepicker input {
  width: 90px !important;
  display: inline-block !important;
}

/* fieldsets */

.grh-fieldset legend {
  font-size: 1em;
  color: #000;
  font-style: italic;
  display: inline-block;
  margin: 0.3em 0;
  width: auto !important;
  border: none;
  font-weight: normal; /* for mobile */
}

/*  GRH Tables  */

.grh-table {
  width: 100%;
}

.grh-table thead th {
  font-weight: bold;
  text-align: center;
  min-width: 75px;
}

.grh-table tbody td {
  text-align: center;
  padding: 8px 12px;
  border: 1px solid #cccccc;
}

.grh-table tbody tr:nth-child(even) {
  background-color: #eeeeee;
}

.grh-tbl-col-sm {
  width: 85px;
}

/* comfirm box */
.grh-form-confirm {
  display: none;
  margin-top: 40px;
}

.grh-confirm-message {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 40px;
}

/*  GRH Home  */
.grhHomeModSpacer {
  height: 40px;
  width: 100%;
}

.grh-home-hist-rgdt-box {
  text-align: right;
}

.grh-home-hist-tblbox table {
  width: 100%;
}

.grh-home-hist-tblbox caption {
  font-weight: bold;
  border-bottom: 2px solid #555555;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.grh-home-hist-date {
  width: 80px;
}

.grh-home-hist-stat {
  width: 80px;
  text-align: center;
}

.grh-home-hist-amt {
  width: 60px;
  text-align: right;
}

.grh-home-hist-liner-box {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 15px;
}

.grh-home-hist-lrleft {
  margin-right: 20px;
}

#grhHomeRequestHistoryBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.grh-home-hist-admlnk {
  margin-top: 10px;
}

#grhHomeRegisterBtn {
  display: block;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* GRH Register */
/*#grhRegFormBox {
    display: none;
}*/

.grh-reg-email-box {
  font-weight: normal;
}

#grhRegEmpChgLnk {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
}

.grh-row-emp {
  min-height: 90px;
}

#grhRegEmpDetailsBox.grh-reg-emp-box-mob {
  clear: both;
}

.mt-form .mt-field.grh-frm-ach {
  display: none;
  margin-top: 10px;
}

.grh-frm-ach input,
.grh-frm-ach select {
  margin-bottom: 10px;
}

.grh-reg-btn-box {
  margin-top: 10px;
}

.grh-reg-btn-box button {
  margin-bottom: 10px;
}

#grhRegEmpChgBtnMsg {
  font-size: 0.8em;
  margin-top: 5px;
}

/*  GRH Request  */
#grh-prereq-issue-box {
  display: none;
  margin-top: 30px;
}

#grhReqRegister {
  margin-top: 20px;
}

#grhTripCostBox {
  margin-top: 15px;
}

/*  GRH Process Request */
#grhReqNameBox {
  margin-bottom: 30px;
}

#grhReqNameBox.grh-proreq-name-mob {
  margin-bottom: 10px;
}

.grh-proreq-topfields {
  margin-bottom: 25px;
}

.grh-reqpro-detail-box {
  clear: both;
  margin-bottom: 20px;
}

.grh-detail-title {
  font-weight: bold;
}

.grh-hr-proreq {
  margin-top: 50px;
  margin-bottom: 35px;
  height: 3px;
}

.grh-proreq-map {
  height: 400px;
  margin-bottom: 20px;
}

.grh-proreq-map-box-mobile {
  clear: left;
}

.grh-proreq-map-mobile {
  height: 300px;
}

div.grh-proreq-audit-row div.mt-field {
  display: inline-block;
  clear: none;
}

#grh-map-legend {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

#grh-map-legend legend {
  font-size: 1em;
  margin-bottom: 0;
  border-bottom: none;
  width: 100px;
  padding-left: 8px;
}

.grh-map-legend-icon {
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
}

#grhReqNameFull {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}

#grh-fld-goto {
  display: none;
}

.grh-proreq-cost-mobile {
  width: 80px !important;
}

#grhReqReceiptTypeFS {
  display: none;
}

.grh-upload-box {
  display: none;
}

#grhReqRptFilename {
  font-weight: normal; /* for mobile */
}

#grhReqReceiptBtn {
  display: inline;
  margin-right: 15px;
}

#grh-receipt-lnk-box {
  display: none;
  margin-bottom: 20px;
}

.grh-req-file-desc {
  margin: -10px 0 5px 20px;
  font-style: italic;
}

.grh-req-file-types {
  display: none;
}

.grh-req-confirm-box {
  margin-top: 25px;
  margin-bottom: 20px;
}

.grh-req-confirm-box label {
  display: flex;
}

.grh-req-btn-box {
  margin-top: 10px;
}

.grh-req-btn-box button {
  margin-bottom: 10px;
}

#grhRequestFormHistoryTbl tr th:last-child,
#grhRequestFormHistoryTbl tr td:last-child {
  text-align: left;
  padding-left: 12px;
}

.grh-reqhist-regdate-box {
  margin-top: 10px;
}

.grh-reqhist-regdate-box span {
  margin-right: 15px;
}

.grh-reqmsg-limit-over {
  color: #ff0000;
}

/* date-time pickers : mobile */
/* date pickers */
.grh-datepicker-mob {
  width: 120px;
  clear: both;
}

.grh-datepicker-mob label,
.grh-datepicker-mob input {
  float: left;
}

.grh-datepicker-mob input {
  font-weight: normal;
}

.grh-datepicker-mob span.add-on.date {
  height: 32px;
  width: 32px;
  margin-top: 20px;
}

/* time pickers */
.grh-timepicker-mob {
  width: 120px;
  clear: both;
}

.grh-timepicker-mob label,
.grh-timepicker input {
  float: left;
}

.grh-timepicker-mob input {
  font-weight: normal;
}

.grh-timepicker-mob span.add-on.time {
  height: 32px;
  width: 32px;
  margin-top: 20px;
}

.grh-rp-icon {
  margin-left: 5px;
}

#grhExpForCustomerCE {
  width: 100%;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* GRH Request History  */
.grh-reqhist-prt-box {
  font-size: 1.2em;
  margin-top: 30px;
}

.grh-reqhist-prt-box span {
  margin-right: 20px;
}

.grh-reqhist-tbl-box {
  margin-top: 25px;
  margin-bottom: 40px;
}

/* GRH Request Print */

#grh-request-confirm-print {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grh-request-confirm-print-msg {
  font-size: 1.2em;
  margin-bottom: 8px;
}

.grh-request-confirm-print-msg-2 {
  margin-top: 10px;
}

.grh-request-confirm-staple {
  font-size: 1.4em;
  margin-top: 8px;
  margin-bottom: 20px !important;
}

#grh-request-print-box {
  margin-left: 40px;
  position: static;
  max-width: 670px;
}

#grh-request-print-box .grh-title {
  margin-bottom: 20px;
}

#grh-request-print-title {
  display: inline;
}

#grh-request-print-title-add {
  margin-left: 40px;
  font-weight: bold;
}

.grh-print {
  margin-bottom: 15px;
}

.grh-print-tbl {
  width: 100%;
  margin-bottom: 20px;
}

#grh-print-tbl-top tr td:not(:first-child) {
  text-align: center;
}

#grh-print-tbl-modes {
  width: 500px;
}

.grh-print label,
.grh-print-tbl-hdr {
  font-style: italic;
}

.grh-print ul li input,
.grh-print input[type="checkbox"] {
  margin-top: 1px;
  margin-right: 5px;
}

.grh-print-address ul li input {
  margin-top: -1px;
  vertical-align: middle;
}

.grh-print-address legend {
  margin: 0 0.3em;
}

.grh-print label[for="grhReqExplanation"],
.grh-print label[for="grhReqAgency"] {
  display: block;
}

.grh-print.grh-req-confirm-box {
  margin-top: 0;
}

#grh-print-mail-addr {
  margin-top: 20px;
}

/* GRH Manage Requests  */
#grhManageRequestsTbl tr th:last-child,
#grhManageRequestsTbl tr td:last-child {
  text-align: left;
  padding-left: 12px;
}
