/**********/
/* global */
/**********/

.tdmHiddenField /* currently used to hide fields in devexpress modal windows */
 {
  display: none;
}

.vp_desktop *,
.vp_desktop *:before,
.vp_desktop *:after {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
}

.vp_hide {
  display: none;
}

.vp_hdr {
  font-size: 2em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px;
}

.vp_qtn_hdr_big {
  font-size: 1.7em;
  font-weight: bold;
}

.vp_sub_hdr {
  font-size: 1.3em;
}

.vp_btn_grp {
  text-align: left;
}

.vp_spacer {
  height: 40px;
}

.vp_spacer_20 {
  height: 20px;
}

.vp_chg_select {
  display: none;
  height: auto !important;
}

.vp_lnk,
.vp_lnk_prt,
.vp_move_up,
.vp_frm_remove,
.vp_stp_add,
.vp_stp_reset,
.vp_lnk_van {
  color: #428bca;
  cursor: pointer;
}

.vp_lnk:hover,
.vp_lnk_prt:hover,
.vp_move_up:hover,
.vp_frm_remove:hover,
.vp_stp_add:hover,
.vp_stp_reset,
.vp_lnk_van {
  color: #2a6496;
}

/* hide 'move up' in first row */
table tr:nth-child(2) .vp_move_up {
  display: none;
}

.mt-form .mt-field.vp_frm_ach {
  display: none;
  margin-top: 10px;
}

.vp_frm_ach input,
.vp_frm_ach select {
  margin-bottom: 10px;
}

.vp_grid_btn_box {
  margin-top: 25px;
}

.vp_grid_btn_box .mt-button,
.vp_grid_btn_box .mt-backbutton,
.vp_grid_btn_box .btn-primary {
  margin-bottom: 10px;
}

/*********************/
/* bootstrap helperz */
/*********************/

.table-responsive {
  overflow-x: auto !important;
}

label {
  font-weight: normal !important;
}

/*div.mt-field select
{
    height: 32px;
}*/

/*****************/
/* modal windows */
/*****************/
#vp_modal_copy {
  margin: 10px 10px 30px 10px;
}

.vp_modal_bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.vp_modal {
  display: none;
  width: 280px;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 200px;
  z-index: 9999;
  background-color: #ffffff;
  position: relative;
}

.vp_modal .vp_btn_grp {
  position: absolute;
  bottom: 10px;
  right: 35px;
}

.vp_modal button {
  margin-left: 20px;
  margin-bottom: 10px;
  min-width: 65px;
}

/******************/
/* van pool forms */
/******************/

.vp_section_hdr {
  margin-top: 15px;
  /*margin-bottom: 10px;*/
  font-size: 2em;
  line-height: 2em;
}

.mt-form .mt-field label.vp_lbl_w_symbol {
  display: block;
}

.vp_fld_inline,
.mt-form .mt-field input[type="text"].vp_fld_inline,
.mt-form .mt-field select.vp_fld_inline {
  display: inline;
}

.vp_fld_symbol_left {
  margin-right: 5px;
}

.vp_fld_symbol_right {
  margin-left: 5px;
}

.vp_qtn_box_hdr {
  font-weight: 700;
}

.vp_vpd_tbl_hdr {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.4em;
}

.vp_textarea {
  max-width: 500px;
}

.vp_textarea textarea {
  width: 100%;
  height: 70px;
}

.vp_cbx_list {
  max-width: 300px;
  margin-bottom: 20px;
}

div.vp_cbx_list ul li {
  list-style-type: none;
}

#vp_qtn_active {
  margin-left: 30px;
}

.vp_pck_state,
.vp_pck_zip,
.vp_drp_state,
.vp_drp_zip {
  margin-left: 10px;
}

div.vp_sublabel {
  font-weight: normal;
}

input.picker__input {
  background-color: inherit;
}

.vp-datepicker input {
  width: 90px !important;
  display: inline-block !important;
}

.vp-datepicker span.add-on.date {
  height: 24px;
  display: inline-block !important;
  margin-left: -3px;
}

/**************/
/* validation */
/**************/

.vp_valid_box span.txterror[style*="inline"] {
  display: block !important;
}

/*.vp_lbl_block
{
    display: block !important;
}*/

/********/
/* home */
/********/

.vpHomeModSpacer {
  height: 40px;
  width: 100%;
}

.vpGuestGreeting {
  padding-bottom: 25px;
}

.vp_home_greeting {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 20px;
}

.vp_hdr_greet {
  margin-bottom: 0px;
}

.vp_right_module {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 5px;
}

.vp_module_hdr {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
}

.vpGuestGreeting,
.vp_my_pool_list_box {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 15px;
}

.vp_my_pool_list {
  width: 90%;
  margin: 15px auto 5px auto;
}

.vp_my_pool_list .vp_my_pool_list_row:nth-child(even) {
  background: #eeeeee;
}

.vp_my_pools_lnks_vp {
  font-weight: bold;
  margin-bottom: 10px;
}

.vp_my_pools_lnks {
  margin: 0 0 10px 0;
}

.vp_hm_lnk_trip,
.vp_hm_lnk_prch,
.vp_hm_lnk_pgrs,
.vp_hm_lnk_stps {
  padding-left: 0;
  padding-right: 0;
}

/********************/
/* van pool details */
/********************/

.vp_vpd_effect_lit {
  font-weight: normal;
}

.vp_vpd_map_row {
  margin-bottom: 25px;
}

.vp_vpd_map_row div.mt-field {
  float: none;
}

.vp_vpd_map {
  /*width: 350px;
	height: 300px;*/
  overflow: hidden;
}

#vp_google_map #CommuterGoogleMap #header {
  display: none;
}

#vp_google_map .rdm-profile-map {
  height: 450px;
  width: 450px;
  float: right;
}

.vp_vpd_van_data_box {
  margin-top: 30px;
  margin-bottom: 30px;
}

#vp_van_frm_add {
  display: none;
}

.vp_lnk_van {
  margin: 0 0 0 25px;
}

#vp_vpd_van_chg_btn,
#vp_vpd_van_add_btn {
  margin-bottom: 12px;
}

.vp_vpd_van_box {
  font-weight: bold;
}

.vp_vpd_van_lbl {
  display: inline-block;
  width: 95px;
  text-align: right;
  font-weight: normal;
  margin-right: 7px;
}

.vp_vpd_van_chg_desc {
  font-size: 0.7em;
}

#vp_van_msg_dup {
  display: none;
  color: #ed1b2e;
  margin-top: 10px;
}

.vp_vpd_finance {
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.vp_vpd_fnc_txt {
  font-weight: normal;
}

#lbl_vp_vpd_rental_miles {
  display: block;
}

/* participants table */

table[vp-type="participant"],
table[vp-type="stop"] {
  margin-bottom: 0;
}

table[vp-type="participant"] tr th {
  vertical-align: bottom;
}

table[vp-type="participant"] tbody tr td.mt-field {
  float: none;
}

th.vp_vpd_prt_app,
td.vp_vpd_prt_app {
  width: 80px;
  text-align: center;
}

table[vp-type="participant"] tr th:last-child {
  width: 90px;
  white-space: normal;
}

#ConnectAcctInfo {
  margin-left: 4px;
  display: inline;
}

.vp_vpd_prt_stp {
  min-width: 140px;
}

td.vp_vpd_prt_stp div.vp_stp_ddl_box {
  display: none;
}

#vp_vpd_prt_add_frm {
  margin-bottom: 10px;
}

#vp_vpd_prt_add_exst {
  margin-bottom: 10px;
}

#vp_vpd_prt_add_tbx {
  float: right;
}

/* vp details tables */
.vp_vpd_table_note {
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* stops table */

table[vp-type="stop"] tbody tr td.mt-field {
  float: none;
}

.vp_table_header th:nth-child(5),
.vp_table_header th:nth-child(6) {
  /* time towork/tohome */
  width: 80px;
}

table[vp-type="stop"] tr th,
.vp_stp_td_ste,
.vp_stp_td_zip,
.vp_stp_td_towork,
.vp_stp_td_tohome,
.vp_stp_td_drp,
.vp_stp_td_mov,
.vp_stp_td_rmv,
.vp_stp_lnk_add,
.vp_stp_lnk_reset {
  text-align: center;
}

table[vp-type="stop"] tr th:nth-child(1),
table[vp-type="stop"] tr th:nth-child(2) {
  text-align: left;
}

table[vp-type="stop"] tr th {
  vertical-align: bottom;
}

table[vp-type="stop"] tr td.vp-timepicker {
  float: none;
  width: auto;
  display: table-cell;
}

table[vp-type="stop"] tr td.vp-timepicker input {
  width: 70px !important;
}

table[vp-type="stop"] tr td.vp-timepicker span {
  height: 22px;
  display: inline-block;
  margin-left: -3px;
}

#vp_stp_ddl_state,
#vp_stp_tbx_zip {
  width: 63px;
  margin-right: -10px;
}

#vp_vpd_van_chg_lnk {
  margin-bottom: 15px;
}

.vp_vpd_veh_date_box {
  margin-top: 10px;
}

.vp_vpd_btns input {
  margin-bottom: 15px;
}

table[vp-type="stop"] tr[data-stp-id="0"] td {
  vertical-align: middle;
}

table[vp-type="stop"] input[type="text"].timepicker {
  background-color: #ffffff;
  width: 80px;
}

/* roles */
#vp_vpd_role_error {
  display: none;
  color: #ff0000;
}

.vp_vpd_role_ddl {
  margin-bottom: 10px;
  width: 174px !important;
}

.vp-role-lbl {
  display: inline;
}

.vp-role-date-box {
  display: inline-block;
}

div.vp-role-date-box input.datepickertext {
  vertical-align: inherit;
}

div.vp-role-date-box span {
  height: 22px !important;
  margin-top: -4px;
}

/*******************/
/* enter/edit trip */
/*******************/
.vp_trip_confirm,
.vp_purchase_confirm {
  color: #0053a0;
  font-weight: bold;
  background-color: #eeeeee;
  padding: 8px;
  font-size: 16px;
}

#vp_trip_pgr_all {
  margin-left: 30px;
}

.vpBtnVanChange {
  margin-left: 50px;
  cursor: pointer;
  color: #2a6496;
}

/****************/
/* recent pages */
/****************/

.vp-sum-title-section {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.vp-sum-trip-tbl {
  margin-bottom: 45px;
}

.vp-sum-title {
  font-weight: bold;
}

.vp-sum-trip-box {
  text-align: center;
}

/****************/
/* recent trips */
/****************/

.vp_rtp_btn_row {
  margin-bottom: 25px;
}

.vp_rtp_btn_row input {
  margin-bottom: 10px;
}

table#VPTrips tr th {
  vertical-align: bottom;
  text-align: center;
  border-bottom: 1px solid #000000;
}

table#VPTrips input {
  background: none;
  border: none;
  cursor: pointer;
  color: #0053a0;
}

table#VPTrips tr td {
  width: 80px;
  text-align: center;
  padding: 5px;
}

/********************/
/* recent purchases */
/********************/

table#VPPurchases tr th {
  vertical-align: bottom;
  border-bottom: 1px solid #000000;
}

table#VPPurchases tr th:not(:last-child) {
  text-align: center;
}

table#VPPurchases input {
  background: none;
  border: none;
  cursor: pointer;
  color: #0053a0;
}

table#VPPurchases tr td {
  padding: 5px;
}

table#VPPurchases tr td:not(:last-child) {
  width: 80px;
  text-align: center;
}

.vp_rtp_total_box {
  margin-top: 30px;
}

.vp_rtp_total {
  float: left;
  margin-right: 30px;
  text-align: right;
}

/*****************/
/* van pool stop */
/*****************/

.vp_stop_map_box {
  height: 300px;
  width: 400px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

#vp_stop_id {
  margin-left: 20px;
}

#vp_stop_save_return {
  width: 230px;
}

/************************/
/* van pool participant */
/************************/

#vpPartFormBox {
  min-height: 800px;
}

#boxPrtAddForm {
  display: none;
}

.vp_part_pool {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 10px;
}

.vp_part_email_lit {
  font-weight: normal;
}

/*div.vpp-role-box 
{
    margin-top: 30px;
}

div.vpp-role-box div.vp-datepicker 
{
    display: inherit;
    clear: none;
}

.vp-datepicker input {
    display: inline-block !important;
    width: 90px !important;
}

.vp-datepicker span.add-on.date 
{
    height: 24px;
    display: inline-block;
}*/

.vp_part_emp_box {
  clear: both;
  padding-top: 30px;
  padding-bottom: 10px;
}

.vp_part_btns {
  clear: both;
  padding-top: 25px;
}

.vp_part_btns input {
  margin-bottom: 10px;
}

.vp_part_err_dup_box {
  color: #ff0000;
  margin-bottom: 15px;
}

/**********************/
/* van pool expenses */
/**********************/

#vp_qtn_inv_year,
#vp_qtn_inv_month {
  width: 80px;
}

.vp_btn_grp_lbl {
  text-align: left;
}

.vp_btn_grp_invoice {
  text-align: right;
}

.vp_btn_grp_invoice button {
  width: 150px;
  margin: 10px 0 10px 30px;
  float: right;
}

/*********************/
/* van pool purchase */
/*********************/
.vp_prch_amt_br {
  height: 0;
  width: 100%;
}

.vp_purch_btn input {
  margin-bottom: 10px;
}

/*********************/
/* van pools rewards */
/*********************/

.vp_reward_btns button {
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*********************/
/*    Manage Vans    */
/*********************/

#VPVansGrid_DXCBtn0 {
  display: none;
}

/**********************/
/*  Employer Reports  */
/**********************/

.vpEmpReportHeader {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 10px;
}

table#VPPrts button {
  background: none;
  border: none;
  cursor: pointer;
  color: #0053a0;
}

#vpReportEmpHdr th {
  vertical-align: bottom;
}

/*******************/
/*  media queries  */
/*******************/
@media screen and (max-width: 991px) {
  #vp_google_map .rdm-profile-map {
    float: none;
  }
}
