[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-xs-bus {
  width: 1.00390625em;
}

.icon-xs-pedestrian {
  width: 0.5361328125em;
}

.icon-xs-pencil {
  width: 1.00390625em;
}
