#findSchedulesByRoute {
  @include media-breakpoint-up(md) {
    .form-control {
      @include fontSize(23);
      border: 0;
    }

    .btn-primary {
      background-color: $white;
      border: 0;
      z-index: 4; // Sets icon button over input during focus (which takes on z-index: 3)
    }
  }
}
