<div id="tripPlannerModule">
    <h1 class="sr-only">Trip Planner</h1>
    <div class="card">
        <div class="form-group mb-0">
            <input id="fromLocation" type="text"
                class="form-control form-control-lg from-location"
                name="fromLocation" required>
            <label for="fromLocation" class="floating-label">From</label>
        </div>
        <button class="location-toggler ml-auto">
            <img class="icon location-switcher-blue" src="/img/svg/location-switcher-blue.svg">

        </button>
        <div class="form-group">
            <input id="toLocation" type="text" name="toLocation"
                class="form-control form-control-lg to-location"
                required>
            <label for="toLocation" class="floating-label">To</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="selectTime" class="sr-only">Select
                        time</label>
                    <select id="selectTime" name="selectTime"
                        class="custom-select custom-select-lg">
                        <option value="leave-now">Leave now</option>
                        <option value="depart-at">Depart at</option>
                        <option value="arrive-by">Arrive by</option>
                    </select>
                </div>
                <div class="row time-elements">
                    <div class="col-xl-6">
                        <div class="input-group mb-3">
                            <label for="time" class="sr-only">Depart/arrival
                                time</label>
                            <input id="time" type="time" name="time"
                                class="form-control border-right-0"
                                aria-label="depart/arrive by time"
                                aria-describedby="time">
                            <div class="input-group-append border">
                                <img class="icon clock-gray mt-1 mt-md-2" src="/img/svg/clock-gray.svg">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="input-group mb-3">
                            <label for="date" class="sr-only">Depart/arrival
                                date</label>
                            <input id="date" type="date" name="date"
                                class="form-control border-right-0"
                                aria-label="depart/arrive by time"
                                aria-describedby="date">
                            <div class="input-group-append border">
                                <img class="icon calendar-gray mt-1 mt-md-2" src="/img/svg/calendar-gray.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="accordion more-options" role="tablist">
                    <div class="card">
                        <div class="card-header d-flex border">
                            <a href="#tpMoreOptions" data-toggle="collapse" class="btn d-flex align-items-center text-left btn-link btn-block collapsed" aria-controls="tpMoreOptions" aria-expanded="false" role="button">
                                More options
                                <img class="icon plus-blue ml-auto inactive" src="/img/svg/plus-blue.svg">
                            </a>
                        </div>
                        <div id="tpMoreOptions" class="collapse" role="tabpanel">
                            <div class="card-body border">
                                <p class="card-text mb-0">
                                    <strong>I'm willing to walk:</strong>
                                </p>
                                <div class="custom-control custom-radio">
                                    <input id="quarterMile" type="radio" name="walkingDistance" class="custom-control-input">
                                    <label for="quarterMile" class="custom-control-label">1/4 mile</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="halfMile" type="radio" name="walkingDistance" class="custom-control-input" checked>
                                    <label for="halfMile" class="custom-control-label">1/2 mile</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="oneMile" type="radio" name="walkingDistance" class="custom-control-input">
                                    <label for="oneMile" class="custom-control-label">1 mile</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="anyType"
                                    type="radio"
                                    name="serviceType"
                                    class="custom-control-input"
                                    checked
                                    >
                                    <label
                                    class="custom-control-label"
                                    for="anyType"
                                    >Any service type</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="railOnly"
                                    type="radio"
                                    name="serviceType"
                                    class="custom-control-input"
                                    >
                                    <label class="custom-control-label" for="railOnly">Rail only</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="busOnly"
                                    type="radio"
                                    name="serviceType"
                                    class="custom-control-input"
                                    >
                                    <label class="custom-control-label" for="busOnly">Bus only</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="noExpress"
                                    type="radio"
                                    name="serviceType"
                                    class="custom-control-input"
                                    >
                                    <label
                                    class="custom-control-label"
                                    for="noExpress"
                                    >No express</label>
                                </div>
                                <hr>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="fasterTrip"
                                    type="radio"
                                    name="convenience"
                                    class="custom-control-input"
                                    checked
                                    >
                                    <label
                                    class="custom-control-label"
                                    for="fasterTrip"
                                    >Faster trip</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="fewerTransfers"
                                    type="radio"
                                    name="convenience"
                                    class="custom-control-input"
                                    >
                                    <label
                                    class="custom-control-label"
                                    for="fewerTransfers"
                                    >Fewer transfers</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                    id="lessWalking"
                                    type="radio"
                                    name="convenience"
                                    class="custom-control-input"
                                    >
                                    <label
                                    class="custom-control-label"
                                    for="lessWalking"
                                    >Less walking</label>
                                </div>

                                <hr>

                                <p class="m-0">
                                    <strong>
                                    <img class="icon accessible-gray" src="/img/svg/accessible-gray.svg">&nbsp;Accessible stops
                                    </strong>
                                </p>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input
                                    id="accessibleYes"
                                    type="radio"
                                    name="accessible"
                                    class="custom-control-input"
                                    >
                                    <label class="custom-control-label" for="accessibleYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input
                                    id="accessibleNo"
                                    type="radio"
                                    name="accessible"
                                    class="custom-control-input"
                                    checked
                                    >
                                    <label class="custom-control-label" for="accessibleNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-container text-center">
            <button type="submit" class="btn mt-2 btn-warning" name="planMyTrip">Plan my trip</button>
        </div>
        <div id="tripPlannerResults">
           <h2>Suggested trips</h2>
           <p class="mb-0">
               <strong>Start:&nbsp;</strong>225 Farrington
               <abbr title="street">St.</abbr>,
               <abbr title="Saint">St.</abbr> Paul, MN 55102
           </p>
           <p>
               <strong>End:&nbsp;</strong>560 6th
               <abbr title="avenue">Ave.</abbr> N, Minneapolis, MN 55411
           </p>
           <div class="tp-results" role="tablist">
               <div class="card">
                   <a href="/trip-plan" class="border">
                       <span class="d-flex" role="link">
                           <span class="d-flex align-items-center tp-time">56 min</span>
                           <span class="align-items-center tp-route">
                               <img class="icon" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon chevron-right-gray mr-2" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon" src="/img/svg/bus-gray.svg">&nbsp;
                               <span class="route mr-1">21</span>
                               <img class="icon chevron-right-gray mr-1" src="/img/svg/chevron-right-gray.svg">
                               <span class="d-flex align-items-center badge badge-success mr-1">
                                   <img class="icon icon-lrt-white" src="/img/svg/lrt-white.svg">
                                   <span class="caps">Green</span>
                               </span>
                               <img class="icon chevron-right-gray" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon mr-1" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon icon-arrow-right-blue ml-auto" src="/img/svg/arrow-right-blue.svg">
                           </span>
                       </span>
                   </a>
               </div>
               <div class="card">
                   <a href="/trip-plan" class="border">
                       <span class="d-flex" role="link">
                           <span class="d-flex align-items-center tp-time">1 hr 2 min</span>
                           <span class="align-items-center tp-route">
                               <img class="icon" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon chevron-right-gray mr-1" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon" src="/img/svg/bus-gray.svg">&nbsp;
                               <span class="route mr-1">21</span>
                               <img class="icon chevron-right-gray mr-1" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon chevron-right-gray mr-1" src="/img/svg/chevron-right-gray.svg">
                               <span class="d-flex align-items-center badge badge-secondary mr-1">
                                   <img class="icon icon-lrt-white" src="/img/svg/lrt-white.svg">
                                   <span class="caps">Blue</span>
                               </span>
                               <img class="icon chevron-right-gray" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon mr-1" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon icon-arrow-right-blue ml-auto" src="/img/svg/arrow-right-blue.svg">
                           </span>
                       </span>
                   </a>
               </div>
               <div class="card">
                   <a href="/trip-plan" class="border">
                       <span class="d-flex" role="link">
                           <span class="d-flex align-items-center tp-time">1 hr 6 min</span>
                           <span class="align-items-center tp-route">
                               <img class="icon" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon chevron-right-gray mr-2" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon" src="/img/svg/bus-gray.svg">&nbsp;
                               <span class="route mr-1">21</span>
                               <img class="icon chevron-right-gray mr-2" src="/img/svg/chevron-right-gray.svg">
                               <span class="d-flex align-items-center badge badge-success mr-1">
                                   <img class="icon icon-lrt-white" src="/img/svg/lrt-white.svg">
                                   <span class="caps">Green</span>
                               </span>
                               <img class="icon chevron-right-gray" src="/img/svg/chevron-right-gray.svg">
                               <img class="icon mr-1" src="/img/svg/pedestrian-gray.svg">
                               <img class="icon icon-arrow-right-blue ml-auto" src="/img/svg/arrow-right-blue.svg">
                           </span>
                       </span>
                   </a>
               </div>
           </div>
           <h2>No trips found</h2>
           <div class="card border p-4">
               <p>We’re sorry, no results are available for this trip plan. Please try a specific thing for better results or call or text Transit information at 612-373-3333. (this language needs to be written.)</p>
           </div>
        </div>

        <div class="btn-container text-center">
            <button type="submit" class="btn mt-2 btn-warning" name="planMyTrip">
                Edit my trip
                <img class="icon edit-blue" src="/img/svg/edit-blue.svg">
            </button>
        </div>
    </div>
</div>
