#tripPlannerResults {
  display: none;

  .no-trips-found {
  }

  .trips-found {
    .tp-results {
      .card {
        .card-header {
          background-color: transparent;

          .btn {
            background-color: transparent;
            padding: 0;
            border: 2px solid $gray-300;

            &:focus {
              border-color: #51cfff;
              outline: 0;
              box-shadow: 0 0 0 0.2rem rgba(0, 151, 208, 0.25);

              .tp-time {
                background-color: $cyan;
                border-right: 2px solid $cyan;
                color: $white;
              }

              .tp-route {
                background-color: $teal;
              }
            }

            &:hover {
              .tp-time {
                background-color: $cyan;
                border-right: 2px solid $cyan;
                color: $white;
              }

              .tp-route {
                background-color: $teal;
              }
            }

            .tp-time {
              border-right: 2px solid $gray-300;
              @include font-size(12);
              font-weight: $font-weight-bold;
              padding: 0.5rem;
              width: 6rem;

              @include media-breakpoint-up(lg) {
                width: 10rem;
              }

              @include media-breakpoint-up(lg) {
                @include font-size(23);
              }
            }

            .tp-route {
              display: flex;
              padding: 0.5rem 0.75rem;
              width: 61rem;

              @include media-breakpoint-up(lg) {
                .pedestrian-gray,
                .bus-gray {
                  width: 1.5rem;
                  height: 1.5rem;
                }
              }

              .chevron-right-gray {
                width: 1rem;
                height: 1rem;
              }
            }

            .route {
              @include font-size(8);
              line-height: 1;

              @include media-breakpoint-up(lg) {
                @include font-size(18);
              }
            }

            .badge {
              border-radius: 0.25rem;
              @include font-size(8);
              padding-right: 0.5rem;

              @include media-breakpoint-up(lg) {
                @include font-size(16);

                .icon {
                  width: 1rem;
                  height: 1.5rem;
                  margin-right: 0.25rem;
                }
              }
            }

            .chevron-down-blue {
              @include media-breakpoint-up(lg) {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
        }

        .card-body {
          padding-right: 0;
          padding-left: 0;

          @include media-breakpoint-up(lg) {
            border: 1px solid $border-color;
            padding: 1.75rem 1rem 1rem;
          }

          .leg-time {
            font-weight: $font-weight-bold;
            margin-right: 1rem;
            width: 115px;

            @include media-breakpoint-up(md) {
              margin-right: 1rem;
              width: 125px;
            }

            @include media-breakpoint-up(lg) {
              margin-right: 1.75rem;
              width: 135px;
            }
          }

          .leg-mode {
            width: 14.75rem;
            line-height: 1.2;
            margin-left: -1rem;
            padding-bottom: 0.5rem;
            padding-left: 1.75rem;
            position: relative;

            @include media-breakpoint-up(md) {
              margin-left: 0;
              padding-bottom: 0.75rem;
              //width: 38rem;
              width: auto;
            }

            @include media-breakpoint-up(lg) {
              padding-bottom: 1.25rem;
              padding-left: 2rem;
              width: 16rem;
            }

            @include media-breakpoint-up(xl) {
              padding-bottom: 1.5rem;
              width: 20.64rem;
            }

            p {
              margin-top: 0.15rem;
            }

            .leg-mode-icon {
              background-color: $white;
              width: 2rem;
              height: 2rem;
              position: absolute;
              top: -0.25rem;
              left: -1.2rem;

              @include media-breakpoint-up(lg) {
                top: -0.25rem;
                left: -1.3rem;
                width: 2.25rem;
                height: 2.25rem;
              }

              .icon {
                width: 2rem;
                height: 2rem;

                @include media-breakpoint-up(lg) {
                  width: 2.25rem;
                  height: 2.25rem;
                }
              }
            }
          }

          .walk {
            border-left: 4px dotted #7dcae7;
          }

          .bus {
            border-left: 4px solid #7dcae7;
          }

          .metro-green {
            border-left: 4px solid $green;
          }

          .metro-blue {
            border-left: 4px solid $blue;
          }

          .metro-red {
            border-left: 4px solid $red;
          }

          .metro-a {
          }

          .metro-c {
          }

          .ns-train {
          }

          .arrive {
            border-left: 4px solid transparent;
          }
        }
      }
    }
  }
}
