#alertsModule,
#alerts {
	h2 {
		margin-bottom: 30px !important;

		@include media-breakpoint-up(lg) {
			margin-bottom: 60px !important;
		}
	}

	.service-alerts,
	&.service-alerts {
		.card .card-header {
			.btn {
				padding: 0.657rem 0.5rem;

				@include media-breakpoint-up(lg) {
					padding: 0.688rem 1rem;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
		.route-alert {
			width: 160px;

			@include media-breakpoint-up(md) {
				width: 535px;
			}

			@include media-breakpoint-up(lg) {
				width: 745px;
			}

			@include media-breakpoint-up(xl) {
				width: 920px;
			}
		}

		.number-alerts {
			font-weight: $font-weight-bold;
		}
	}
}
