#alerts {
  .service-alerts {
    .route-alert {
      max-width: 165px;

      @include media-breakpoint-up(md) {
        max-width: 540px;
      }

      @include media-breakpoint-up(lg) {
        max-width: 730px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 910px;
      }
    }

    .number-alerts {
      font-weight: $font-weight-bold;
    }
  }
}
