<footer class="section">
    <div class="container">
        <div class="d-none d-xl-block mb-5">
            <div class="text-center">
                <a href="/contact-us" class="btn btn-outline-primary">Contact us
                    <svg class="icon icon-arrow-right-blue inactive"><use xlink:href="symbol-defs.svg#icon-arrow-right-blue"></use></svg>
                    <svg class="icon icon-arrow-right-white active"><use xlink:href="symbol-defs.svg#icon-arrow-right-white"></use></svg>
                </a>
            </div>
            <div class="social-media text-center">
                <a href="https://www.twitter.com/MetroTransitMN"><svg class="icon icon-twitter-gray mr-2"><use xlink:href="symbol-defs.svg#icon-twitter-gray"></use></svg></a>
                <a href="https://www.facebook.com/MetroTransitMN"><svg class="icon icon-facebook-gray mr-2"><use xlink:href="symbol-defs.svg#icon-facebook-gray"></use></svg></a>
                <a href="https://www.youtube.com/MetroTransitMN"><svg class="icon icon-youtube-gray mr-2"><use xlink:href="symbol-defs.svg#icon-youtube-gray"></use></svg></a>
                <a href="https://instagram.com/metrotransitmn"><svg class="icon icon-instagram-gray mr-2"><use xlink:href="symbol-defs.svg#icon-instagram-gray"></use></svg></a>
                <a href="https://www.linkedin.com/company/metro-transit"><svg class="icon icon-linkedin-gray mr-2"><use xlink:href="symbol-defs.svg#icon-linkedin-gray"></use></svg></a>
                <a href="https://www.flickr.com/photos/metrotransitmn/"><svg class="icon icon-flickr-gray"><use xlink:href="symbol-defs.svg#icon-flickr-gray"></use></svg></a>
            </div>
            <div class="footer d-none d-md-block pt-5">
                <div class="card-deck">
                    <div class="card border-0">
                        <div class="card-body">
                            <h4 class="card-title">About Metro Transit</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="/mission-impact" class="nav-link">Mission &amp; Impact</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/transit-initiatives" class="nav-link">Transit Initiatives</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/facilities" class="nav-link">Facilities</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <h4 class="card-title">Media Relations</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="/contacts" class="nav-link">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/press" class="nav-link">Press Releases</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/awards" class="nav-link">Awards</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <h4 class="card-title">Careers</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="/jobs" class="nav-link">Available Job Opportunities</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/drive" class="nav-link">Become a Bus Driver</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/transit-police-careers" class="nav-link">Join the Transit Police</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/job-seekers" class="nav-link">Career Fairs</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/internships" class="nav-link">Internships</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <h4 class="card-title">Policies</h4>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a href="/social-media-policy" class="nav-link">Social Media Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://metrocouncil.org/Privacy-Policy.aspx" class="nav-link" target="_blank">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/code-of-conduct" class="nav-link">Code of Conduct</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/titlevi" class="nav-link">Title VI: Commitment to Fairness</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">
            <small>
                Metro Transit is a service of the Metropolitan Council.
                <span class="d-block d-md-none"> <br /> </span>&copy; 2019 Metro
                Transit
            </small>
        </p>
    </div>
</footer>
