<header id="header">
    <nav class="navbar navbar-expand-xl navbar-light">
        <a href="#mainContent" class="skip-to-content">Skip to main content</a>
        <div class="container">
            <a class="navbar-brand" href="/">
                <img alt="metro transit logo" src="img/MetroTransitLogo.svg" class="logo d-inline-block" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-xl-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/trip-planner" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Trip Tools
                            <svg class="icon dropdown-icon inactive"><use xlink:href="symbol-defs.svg#icon-chevron-down-gray"></use></svg>
                            <svg class="icon dropdown-icon active"><use xlink:href="symbol-defs.svg#icon-chevron-down-white"></use></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/trip-planner">Trip Planner</a>
                            <a class="dropdown-item" href="/nextrip">NexTrip</a>
                            <a class="dropdown-item" href="/alerts">Alerts</a>
                            <a class="dropdown-item" href="/park-ride">Find a Park &amp; Ride</a>
                            <a class="dropdown-item" href="/planner/servicesfinder.aspx">
                                Find a Stop or Station
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="schedules-maps">
                            Schedules &amp; Maps
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Fares
                            <svg class="icon dropdown-icon inactive"><use xlink:href="symbol-defs.svg#icon-chevron-down-gray"></use></svg>
                            <svg class="icon dropdown-icon active"><use xlink:href="symbol-defs.svg#icon-chevron-down-white"></use></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/fares">Fares</a>
                            <a class="dropdown-item" href="/go-to-card">Go-To Card</a>
                            <a class="dropdown-item" href="/pass-programs">Pass Programs</a>
                            <a class="dropdown-item" href="https://store.metrotransit.org/">Store</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                            <svg class="icon dropdown-icon inactive"><use xlink:href="symbol-defs.svg#icon-chevron-down-gray"></use></svg>
                            <svg class="icon dropdown-icon active"><use xlink:href="symbol-defs.svg#icon-chevron-down-white"></use></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/carpool">Carpool &amp; Vanpool</a>
                            <a class="dropdown-item" href="/transit-link">Transit Link</a>
                            <a class="dropdown-item" href="/guaranteed-ride-home">Guaranteed Ride Home</a>
                            <a class="dropdown-item" href="/bicycle">Bicycle</a>
                            <a class="dropdown-item" href="/news">News &amp; Events</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help
                            <svg class="icon dropdown-icon inactive"><use xlink:href="symbol-defs.svg#icon-chevron-down-gray"></use></svg>
                            <svg class="icon dropdown-icon active"><use xlink:href="symbol-defs.svg#icon-chevron-down-white"></use></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/how-to-ride">How to Ride Guide</a>
                            <a class="dropdown-item" href="contact-us">Contact Us</a>
                            <a class="dropdown-item" href="/lost-found">Lost &amp; Found</a>
                            <a class="dropdown-item" href="/accessibility">Accessibility</a>
                            <a class="dropdown-item" href="/languages">Languages</a>
                            <a class="dropdown-item" href="/police">Transit Police</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            En
                            <svg class="icon dropdown-icon inactive"><use xlink:href="symbol-defs.svg#icon-chevron-down-gray"></use></svg>
                            <svg class="icon dropdown-icon active"><use xlink:href="symbol-defs.svg#icon-chevron-down-white"></use></svg>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                            <a class="dropdown-item" href="#">Link</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav utilities">
                    <li class="nav-item">
                        <a class="nav-link" href="https://store.metrotransit.org">
                            <svg class="icon icon-shopping-cart-green inactive"><use xlink:href="symbol-defs.svg#icon-shopping-cart-green"></use></svg>
                            <svg class="icon icon-shopping-cart-green active"><use xlink:href="symbol-defs.svg#icon-shopping-cart-white"></use></svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <svg class="icon icon-search-gray inactive"><use xlink:href="symbol-defs.svg#icon-search-gray"></use></svg>
                            <svg class="icon icon-search-white active"><use xlink:href="symbol-defs.svg#icon-search-white"></use></svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            <svg class="icon icon-avatar-gray inactive"><use xlink:href="symbol-defs.svg#icon-avatar-gray"></use></svg>
                            <svg class="icon icon-avatar-white active"><use xlink:href="symbol-defs.svg#icon-avatar-white"></use></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
