<div id="news">
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="card">
                <img src="/img/placeholder-300x300.png" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Article 1</h4>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/" class="btn btn-warning">Learn more
                            <img class="icon" src="/img/svg/arrow-right-blue.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img src="/img/placeholder-300x300.png" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Article 1</h4>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/" class="btn btn-warning">Learn more
                            <img class="icon" src="/img/svg/arrow-right-blue.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img src="/img/placeholder-300x300.png" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Article 3</h4>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/" class="btn btn-warning">Learn more
                            <img class="icon" src="/img/svg/arrow-right-blue.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="card">
                <img src="/img/placeholder-300x300.png" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">Article 4</h4>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="/" class="btn btn-warning">Learn more
                            <img class="icon" src="/img/svg/arrow-right-blue.svg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
