<div id="tripToolsTabs" class="trip-tools-tabs">
    <div class="card">
        <div class="tabs">
            <ul class="nav nav-tabs" role="tab-list">
                <li class="nav-item mr-2" role="presentation">
                    <a id="tpTab" class="nav-link active p-md-3" data-toggle="tab" href="#tripPlanner" role="tab" aria-controls="tripPlanner" aria-selected="true">
                            <img class="icon mx-auto active" src="/img/svg/trip-planner-color.svg">
                            <img class="icon mx-auto inactive" src="/img/svg/trip-planner-white.svg">
                        Trip Planner
                    </a>
                </li>
                <li class="nav-item mr-2" role="presentation">
                    <a id="nTab" class="nav-link p-md-3" data-toggle="tab" href="#nextrip" role="tab" aria-controls="nextrip" aria-selected="true">
                        <img class="icon mx-auto active" src="/img/svg/nextrip-color.svg">
                        <img class="icon mx-auto inactive" src="/img/svg/nextrip-white.svg">
                        NexTrip
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a id="aTab" class="nav-link p-md-3" data-toggle="tab" href="#alerts" role="tab" aria-controls="alerts" aria-selected="true">
                        <img class="icon mx-auto active" src="/img/svg/alerts-color.svg">
                        <img class="icon mx-auto inactive" src="/img/svg/alerts-white.svg">
                        Alerts
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tripPlanner" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tripPlannerTab">
                    <partial src="partials/trip-tools/trip-planner-module.html" />
                </div>
                <div id="nextrip" class="tt-nextrip tab-pane fade" role="tabpanel" aria-labelledby="nextripTab">
                    <partial src="partials/trip-tools/nextrip-module.html" />
                </div>
                <div id="alerts" class="tt-alerts tab-pane fade" role="tabpanel" aria-labelledby="alertsTab">
                    <partial src="partials/trip-tools/alerts-module.html" />
                </div>
            </div>
        </div>
    </div>
</div>
