/***************************************************************
    CSS Animations
***************************************************************/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

// Animate broadcast icon
.blink {
	animation: fadeIn 1s infinite alternate;
}

// Navbar - rotate icon on show/hide
.dropdown .active {
	transform: rotate(0deg);
	transition: .3s transform ease-in-out;
}

.dropdown.show .active {
	transform: rotate(-180deg);
    transition: .3s transform ease-in-out;
}

// Accordion - rotate icon on collapse/aria-expanded
.accordion .icon-chevron-down-blue {
  transform: rotate(-180deg);
  transition: .3s transform ease-in-out;
  display: inline-block;
}

.accordion .collapsed .icon-chevron-down-blue {
  transform: rotate(0deg);
  transition: .3s transform ease-in-out;
}
