#betterBusStops {
	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	.auto-complete-search-box {
		.input-group {
			.custom-width {
				width: 297px;
				@include media-breakpoint-up(md) {
					width: 529px;
				}

				@include media-breakpoint-up(lg) {
					width: 521px;
				}
			}
			.form-control {
				border-right: none;
			}
		}
		.input-group-append {
			.btn {
				background-color: $white;
				border: 0;

				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}

			.input-group-text {
				background-color: $white;
				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}
		}
    }
}