.blogpager {
  .modulepager {
    .SelectedPage,
    .ModulePager {
      position: relative;
      border: 1px solid $border-color;
      padding: 0.5rem 0.75rem;
      line-height: 1.25;
    }
  }
}
