.btn {
  @include font-size(16);

  @include media-breakpoint-up(lg) {
    @include font-size(23);
  }
}

// Set focus state on these elements.
a,
button,
input,
.btn-link,
.btn-warning {
  &:focus {
    border-color: #51cfff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 151, 208, 0.25);
  }
}

// Wrap buttons in this class for consistent vertical spacing.
.btn-wrapper {
  @include media-breakpoint-up(lg) {
    margin-top: 2rem;
  }
}

// Yellow button
.btn-warning {
  position: relative;
  font-weight: $font-weight-bold;
  color: $body-color;
  width: 14.063rem;

  @include media-breakpoint-up(md) {
    @include font-size(23);
    width: 17.5rem;
    padding: 0.75rem;
  }

  .icon {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;

    @include media-breakpoint-up(md) {
      top: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// CTA Link White
.cta-link-white {
  position: relative;
  border: 2px solid #ffffff;

  .nav-link {
    color: white;
    @include font-size(17);
    font-weight: 700;
    text-decoration: none;

    @include media-breakpoint-up(md) {
      @include font-size(23);
      margin-right: 0;
    }
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 0.75rem;
    right: 1rem;

    @include media-breakpoint-up(md) {
      top: 1rem;
      right: auto;
    }
  }

  @include media-breakpoint-up(md) {
    border: 0;
    display: block;
    text-align: center;
  }
}

// How to ride
#howToRide {
  width: 345px;

  @include media-breakpoint-up(md) {
    width: 410px;
  }

  .icon-wrapper {
    position: relative;
    margin: 0 auto;

    .icon {
      position: absolute;
      top: 0.25rem;
      left: 1rem;
      width: 32px;
      height: 32px;

      @include media-breakpoint-up(md) {
        top: 0.45rem;
        left: 0;
        width: 50px;
        height: 50px;
      }
    }
  }
}

// White button with blue border
.btn-outline-primary {
  font-weight: $font-weight-bold;
  color: $body-color;
  position: relative;
  border: 2px solid $primary;
  width: 14.063rem;

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;
    border: 2px solid $blue;

    .inactive {
      display: none;
    }
    .active {
      display: inline-flex;
    }
  }

  .inactive {
    display: inline-flex;
  }

  .active {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    width: 17.5rem;
    padding: 0.75rem;
  }

  .arrow-right-blue,
  .arrow-right-white {
    position: absolute;
    top: 0.6rem;
    right: 0.75rem;

    @include media-breakpoint-up(lg) {
      top: 1rem;
      right: 0.75rem;
    }
  }

  .arrow-left-blue,
  .arrow-left-white {
    position: absolute;
    top: 0.65rem;
    left: 0.75rem;

    @include media-breakpoint-up(lg) {
      top: 1.25rem;
      left: 0.75rem;
    }
  }
}

// White button with gray border
.btn-outline-secondary {
  color: $gray-600;
  background-color: $white;
  border: 2px solid $gray-300;
  border-radius: 4px;
  font-weight: $font-weight-bold;

  @include media-breakpoint-up(lg) {
    @include font-size(20);
    width: 170px;
    height: 50px;
    margin-right: 1rem;
  }

  &:hover {
    background-color: $teal;
    border: 2px solid $cyan;
    color: $cyan;
  }

  &.routes {
    width: 70px;
    height: 50px;
  }

  &.dollar-amount {
    width: 69px;
    height: 50px;
  }
}

.btn-outline-white {
  position: relative;
  color: $white;
  background-color: transparent;
  border: 2px solid $white;
  font-weight: $font-weight-bold;
  margin-right: 0;

  @include media-breakpoint-up(lg) {
    @include font-size(23);
    width: 270px;
    padding: 0.75rem;
  }

  &:hover,
  &:focus {
    background-color: $white;
    color: $cyan;
    border: 2px solid $white;

    .inactive {
      display: none;
    }
    .active {
      display: inline-flex;
    }
  }

  .inactive {
    display: inline-flex;
  }

  .active {
    display: none;
  }

  @include media-breakpoint-up(md) {
    width: 17.5rem;
    padding: 0.75rem;
  }

  .icon {
    position: absolute;
    margin-right: 0;

    @include media-breakpoint-up(lg) {
      top: 1.25rem;
      right: 0.75rem;
      width: 1.25rem !important;
      height: 1.25rem !important;
    }
  }

  .arrow-right-blue,
  .arrow-right-white {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;

    @include media-breakpoint-up(md) {
      top: 1.25rem;
      right: 0.75rem;
    }
  }
}

.button-container-icon-right {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }

  .btn-outline-primary {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/svg/arrow-right-blue.svg");
      background-repeat: no-repeat;
      top: 0.65rem;
      right: 0.75rem;
      width: 1.25rem;
      height: 1.25rem;

      @include media-breakpoint-up(lg) {
        top: 1.25rem;
      }
    }

    &:hover {
      &::after {
        background-image: url("../img/svg/arrow-right-white.svg");
      }
    }
  }
}

.button-container-icon-left {
  position: relative;
  text-align: center;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }

  .btn-outline-primary {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/svg/arrow-left-blue.svg");
      background-repeat: no-repeat;
      top: 0.6rem;
      left: 0.75rem;
      width: 1.25rem;
      height: 1.25rem;

      @include media-breakpoint-up(lg) {
        top: 1.25rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      &::before {
        background-image: url("../img/svg/arrow-left-white.svg");
      }
    }
  }
}

.link-container-icon-left {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn-link {
    position: relative;
    padding-left: 1.25rem;

    @include media-breakpoint-up(lg) {
      padding-left: 2rem;
    }

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/svg/arrow-left-blue.svg");
      background-size: 1rem;
      background-repeat: no-repeat;
      top: 0.6rem;
      left: 0;
      width: 1rem;
      height: 1rem;

      @include media-breakpoint-up(lg) {
        background-size: 1.5rem;
        top: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      color: $blue;
      &::before {
        background-image: url("../img/svg/arrow-left-dark-blue.svg");
      }
    }
  }
}

.link-container-icon-right {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn-link {
    position: relative;
    padding-right: 1.25rem;

    @include media-breakpoint-up(lg) {
      padding-right: 2rem;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/svg/arrow-right-blue.svg");
      background-size: 1rem;
      background-repeat: no-repeat;
      top: 0.6rem;
      right: 0;
      width: 1rem;
      height: 1rem;

      @include media-breakpoint-up(lg) {
        background-size: 1.5rem;
        top: 0.75rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      color: $blue;
      &::after {
        background-image: url("../img/svg/arrow-right-dark-blue.svg");
      }
    }
  }
}

.text-link-container-icon-right {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;

  @include media-breakpoint-up(lg) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .text-link {
    position: relative;
    padding-right: 1.5rem;

    // @include media-breakpoint-up(lg) {
    //   padding-right: 1.5rem;
    // }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/svg/arrow-right-blue.svg");
      background-size: 0.875rem;
      background-repeat: no-repeat;
      top: 0.125rem;
      right: 0;
      width: 0.875rem;
      height: 0.875rem;

      @include media-breakpoint-up(lg) {
        background-size: 1rem;
        top: 0.25rem;
        width: 1rem;
        height: 1rem;
      }
    }

    &:hover {
      color: $blue;
      &::after {
        background-image: url("../img/svg/arrow-right-dark-blue.svg");
      }
    }
  }
}
