/**************************************************
    Form validation styles
**************************************************/
form {
  label.is-invalid {
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    color: $red;
    font-style: italic;
  }

  #fromErrorMessage,
  #toErrorMessage {
    color: $red;
    font-style: italic;
  }
}
