#gotoCards {
	.btn-container {
		text-align: center;
		margin: 0 auto;

		.btn {
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	.seven-day-pass {
		margin-bottom: 30px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 45px;
		}
	}

	.thirtyone-day-pass {
		p.small {
			//margin-bottom: 0;
			padding: 0.5rem;
			padding-bottom: 0;
		}

		.tap-riders {
			.icon {
				margin-top: -0.25rem;

				@include media-breakpoint-up(lg) {
					margin-top: -0.5rem;
				}
			}
		}
	}

	.cyan-blue-bg {
		color: $white;
		padding: 0;

		@include media-breakpoint-up(lg) {
			background-image: url('/img/cyan-blue-bg.png');
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
			padding: 3rem 0;
		}

		.row {
			@include media-breakpoint-up(md) {
				margin-right: -30px;
				margin-left: -30px;
			}

			@include media-breakpoint-up(lg) {
				margin-right: -15px;
				margin-left: -15px;
			}
		}

		h2 {
			margin-bottom: 15px;

			@include media-breakpoint-up(lg) {
				margin-bottom: 30px;
			}
		}

		.blue-bg {
			background-color: $blue;
			padding: 1.5rem;

			@include media-breakpoint-up(lg) {
				padding: 0 2rem;
			}

			@include media-breakpoint-up(xl) {
				padding: 0 3rem;
			}

			a,
			span {
				color: $white;
				@include font-size(20);
				font-weight: 700;
				border-bottom: none;
				margin-left: 0.25rem;

				@include media-breakpoint-up(md) {
					margin-left: 0.5rem;
				}

				@include media-breakpoint-up(lg) {
					@include font-size(23);
					margin-left: 1rem;
				}
			}
		}

		.cyan-bg {
			background-color: $cyan;
			padding: 1.5rem;

			@include media-breakpoint-up(lg) {
				padding: 0 2rem;
			}

			@include media-breakpoint-up(xl) {
				padding: 0 3rem;
			}
		}

		.icon {
			width: 1.75rem;
			height: 1.75rem;
			margin-bottom: 0.5rem;

			@include media-breakpoint-up(lg) {
				width: 2.25rem;
				height: 2.25rem;
			}

			@include media-breakpoint-up(xl) {
				width: 3rem;
				height: 3rem;
				margin-bottom: 0.75rem;
			}
		}
	}
}
