#gotoCards {
	.btn-container {
		text-align: center;
		margin: 0 auto;

		.btn {
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}

	.seven-day-pass {
		margin-bottom: 30px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 45px;
		}
	}

	.thirtyone-day-pass {
		p.small {
			margin-bottom: 0;
			padding: 0.5rem;
			padding-bottom: 0;
		}

		.tap-riders {
			position: relative;
			p {
				position: relative;

				&::before {
					position: absolute;
					top: 0.6rem;
					left: 8.75rem;
					content: '';
					background-image: url('../../../../../img/svg/accessible-gray.svg');
					background-repeat: no-repeat;
					background-size: 1rem;
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						top: 0.75rem;
						left: 8.75rem;
						background-size: 1rem;
						width: 1rem;
						height: 1rem;
					}
				}
			}

			.icon {
				position: absolute;
				bottom: 0.65rem;
				right: 8rem;
				width: 1rem;
				height: 1rem;

				@include media-breakpoint-up(lg) {
					bottom: 0.75rem;
					right: 7rem;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}

	.blue-cyan-bg {
		color: $white;

		@include media-breakpoint-up(lg) {
			background-image: url('/img/blue-cyan-bg.png');
			background-size: cover;
			background-position: 50%;
			background-repeat: no-repeat;
			padding: 3rem 0;
		}

		.row {
			@include media-breakpoint-up(md) {
				margin-right: -30px;
				margin-left: -30px;
			}

			@include media-breakpoint-up(lg) {
				margin-right: -15px;
				margin-left: -15px;
			}
		}

		h2 {
			margin-bottom: 15px;

			@include media-breakpoint-up(lg) {
				margin-bottom: 30px;
			}
		}

		.blue-bg {
			background-color: $blue;
			padding: 1.5rem;

			@include media-breakpoint-up(lg) {
				padding: 0 2rem;
			}

			@include media-breakpoint-up(xl) {
				padding: 0 3rem;
			}

			a {
				color: $white;
			}
		}

		.cyan-bg {
			background-color: $cyan;
			padding: 1.5rem;

			@include media-breakpoint-up(lg) {
				padding: 0 2rem;
			}

			@include media-breakpoint-up(xl) {
				padding: 0 3rem;
			}
		}

		.icon {
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
			margin-bottom: 0.75rem;

			@include media-breakpoint-up(lg) {
				width: 3rem;
				height: 3rem;
			}
		}
	}
}
