#header {
	.navbar {
		padding: 0.5rem 15px;

		.navbar-brand .logo {
			width: 100% !important;
		}

		@include media-breakpoint-up(xl) {
			padding: 0 !important;
		}

		.section {
			@include media-breakpoint-up(xl) {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.navbar-nav {
			border-top: 1px solid $border-color;

			@include media-breakpoint-up(xl) {
				border-top: none;
				height: 68.58px;
			}

			.nav-item {
				border-bottom: 1px solid $border-color;

				@include media-breakpoint-up(xl) {
					border-bottom: none;
				}

				.nav-link {
					&:link {
						@include font-size(18);
						padding-right: 1rem;
						padding-left: 1rem;

						@include media-breakpoint-up(xl) {
							//padding: 1.3rem;
							padding: 1.3rem 1rem;
						}
					}

					&:hover,
					&:focus {
						@include media-breakpoint-up(xl) {
							color: $white;
							background-color: $cyan;
						}
					}

					//  Edge and IE11 do not support this psuedo class so it has to be separted from hover and focus (above).
					&:focus-within {
						@include media-breakpoint-up(xl) {
							color: $white;
							background-color: $cyan;
						}
					}

					&.goto-icon:hover::before {
						@include media-breakpoint-up(xl) {
							display: block;
							content: '';
							background-image: url('../../../../../img/svg/goto-icon-white.svg');
							background-repeat: no-repeat;
							background-size: 1.6875rem;
							width: 1.6875rem;
							height: 1.6875rem;
							@include media-breakpoint-up(xl) {
								background-size: 2.25rem;
								width: 2.25rem;
								height: 2.25rem;
							}
						}
					}

					&.store-icon:hover::before {
						@include media-breakpoint-up(xl) {
							display: block;
							content: '';
							background-image: url('../../../../../img/svg/shopping-cart-white.svg');
							background-repeat: no-repeat;
							background-size: 1.6875rem;
							width: 1.6875rem;
							height: 1.6875rem;
						}
					}
				}

				.dropdown-toggle {
					&::after {
						position: relative;
						top: 0.25rem;
						content: '';
						background-image: url('../../../../../img/svg/chevron-down-gray.svg');
						background-repeat: no-repeat;
						background-size: 0.75rem;
						width: 0.75rem;
						height: 0.75rem;
						border: none;
						transform: rotate(0deg);
						transition: 0.3s transform ease-in-out;
					}

					&.search-icon:hover::before {
						@include media-breakpoint-up(xl) {
							display: block;
							content: '';
							background-image: url('../../../../../img/svg/search-white.svg');
							background-repeat: no-repeat;
							background-size: 1.6875rem;
							width: 1.6875rem;
							height: 1.6875rem;
						}
					}

					&.avatar-icon {
						&::before {
							@include media-breakpoint-up(xl) {
								display: block;
								content: '';
								background-image: url('../../../../../img/svg/avatar-gray.svg');
								background-repeat: no-repeat;
								background-size: 1.6875rem;
								width: 1.6875rem;
								height: 1.6875rem;
							}
						}

						&:hover::before {
							@include media-breakpoint-up(xl) {
								display: block;
								content: '';
								background-image: url('../../../../../img/svg/avatar-white.svg');
								background-repeat: no-repeat;
								background-size: 1.6875rem;
								width: 1.6875rem;
								height: 1.6875rem;
							}
						}
					}

					&:hover::after,
					&:focus::after {
						@include media-breakpoint-up(xl) {
							content: '';
							background-image: url('../../../../../img/svg/chevron-down-white.svg');
							background-repeat: no-repeat;
							background-size: 0.75rem;
							width: 0.75rem;
							height: 0.75rem;
							border: none;
						}
					}
				}

				&.dropdown {
					.dropdown-menu {
						border: none;
						border-radius: 0;

						@include media-breakpoint-up(xl) {
							background-color: $gray-100;
							margin-top: 0;
							padding-top: 0.5rem;
							border: none;
						}

						.dropdown-item {
							@include font-size(18);
							color: $cyan;
							padding: 0.25rem 2rem;

							@include media-breakpoint-up(xl) {
								color: $cyan;
							}

							&:hover,
							&:active {
								@include media-breakpoint-up(xl) {
									color: $secondary;
									text-decoration: underline;
								}
							}
						}
					}
				}

				&.show {
					.nav-link::after {
						transform: rotate(-180deg);
						transition: 0.3s transform ease-in-out;
					}
				}
			}
		}

		.utilities {
			border-top: none;

			@include media-breakpoint-up(xl) {
				border-left: 1px solid $border-color;
				padding-left: 1rem;
			}

			.nav-item {
				.goto-icon:focus::before {
					display: block;
					content: '';
					background-image: url('../../../../../img/svg/goto-card-white.svg');
					background-repeat: no-repeat;
					background-size: 1.6875rem;
					width: 1.6875rem;
					height: 1.6875rem;
					@include media-breakpoint-up(xl) {
						background-size: 2.25rem;
						width: 2.25rem;
						height: 2.25rem;
					}
				}

				.store-icon:focus::before {
					display: block;
					content: '';
					background-image: url('../../../../../img/svg/shopping-cart-white.svg');
					background-repeat: no-repeat;
					background-size: 1.6875rem;
					width: 1.6875rem;
					height: 1.6875rem;
				}

				.nav-link {
					&:link {
						@include media-breakpoint-up(xl) {
							padding: 1.3rem 1.4rem;
						}
					}

					&.goto-icon {
						@include media-breakpoint-up(xl) {
							padding: 1.0157rem 1.119rem;
						}
					}

					&.goto-icon::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/goto-icon-color.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;
						@include media-breakpoint-up(xl) {
							background-size: 2.25rem;
							width: 2.25rem;
							height: 2.5rem;
						}
					}

					&.store-icon::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/shopping-cart-green.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;
					}

					&.store-icon:focus::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/shopping-cart-green.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;

						@include media-breakpoint-up(lg) {
							background-image: url('../../../../../img/svg/shopping-cart-white.svg');
						}
					}

					&.store-icon {
						position: relative;

						.badge-info {
							border-radius: 50%;
							font-weight: 300;
							position: absolute;
							top: 0.25rem;
							left: 3rem;
							@include media-breakpoint-up(xl) {
								top: 0.25rem;
								left: 2rem;
							}
						}
					}

					&:hover {
						.badge-info {
							background-color: $white;
							color: $cyan;
						}
					}
				}

				.dropdown-toggle {
					&.search-icon::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/search-gray.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;
					}

					&.search-icon:focus::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/search-gray.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;

						@include media-breakpoint-up(lg) {
							background-image: url('../../../../../img/svg/search-white.svg');
						}
					}

					&.avatar-icon::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/avatar-gray.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;
					}

					&.avatar-icon:focus::before {
						display: block;
						content: '';
						background-image: url('../../../../../img/svg/avatar-grey.svg');
						background-repeat: no-repeat;
						background-size: 1.6875rem;
						width: 1.6875rem;
						height: 1.6875rem;

						@include media-breakpoint-up(lg) {
							background-image: url('../../../../../img/svg/avatar-white.svg');
						}
					}

					&::after {
						display: none;
					}
				}

				.dropdown {
					@include media-breakpoint-up(xl) {
						position: relative;
					}

					.dropdown-menu {
						@include media-breakpoint-up(xl) {
							margin-top: 0;
						}
					}
				}

				.search-dropdown-menu {
					padding-right: 15px;
					padding-left: 15px;

					@include media-breakpoint-up(xl) {
						position: absolute;
						left: -17.1rem;
						margin-top: 0;
					}

					.input-group {
						width: 100%;
						margin-bottom: 0;

						.custom-width {
							width: 275px;

							@include media-breakpoint-up(md) {
								width: 650px;
							}

							@include media-breakpoint-up(lg) {
								width: 882px;
							}

							@include media-breakpoint-up(xl) {
								width: 264px;
							}
						}

						.form-control {
							border-right: none;
						}

						.input-group-append .btn {
							background-color: $white;
							border: 1px solid $border-color;
							border-left: none;
							padding: 0 0.75rem;
						}
					}
				}
			}
		}
	}
}
