@import "utilities";

a.skip-to-content {
  position: absolute;
  top: -40px;
  left: 0;
  transition: top 1s ease-out;

  &:focus {
    background-color: $red;
    color: $white;
    left: 0;
    padding: 1rem;
    text-decoration: underline;
    top: 0;
    transition: top 0.1s ease-in;
  }
}
#header {
  .navbar {
    padding-bottom: 0;

    .navbar-collapse {
      width: 100vw;
      position: relative;
      margin-left: -50vw;
      left: 50%;
      overflow-x: hidden;
      margin-top: 0.5rem;
    }

    .navbar-nav {
      border-top: 1px solid $border-color;

      .nav-item {
        border-bottom: 1px solid $border-color;

        .nav-link {
          @include font-size(18);
          padding-right: 1rem;
          padding-left: 1rem;

          &::after {
            position: relative;
            top: 0.5rem;
            content: "";
            background-image: url("../../../../../img/svg/chevron-down-gray.svg");
            background-repeat: no-repeat;
            background-size: 1rem;
            width: 1rem;
            height: 1rem;
            border: none;
            transform: rotate(0deg);
            transition: 0.3s transform ease-in-out;
          }
        }

        &.dropdown {
          .dropdown-menu {
            border: none;

            .dropdown-item {
              @include font-size(18);
              color: $cyan;
              padding: 0.25rem 2rem;
            }
          }
        }

        &.show {
          .nav-link::after {
            transform: rotate(-180deg);
            transition: 0.3s transform ease-in-out;
          }
        }
      }

      &.utilities {
        border-top: 0;

        .nav-item {
          .nav-link {
            &::after {
              top: 0;
              background-image: none;
              width: 0;
              height: 0;
            }
            .store {
              display: block;
              background-image: url("../../../../../img/svg/shopping-cart-green.svg");
              background-repeat: no-repeat;
              background-size: 1.5rem;
              width: 1.5rem;
              height: 1.5rem;
            }

            .site-search {
              display: block;
              background-image: url("../../../../../img/svg/search-gray.svg");
              background-repeat: no-repeat;
              background-size: 1.5rem;
              width: 1.5rem;
              height: 1.5rem;
            }

            .account {
              display: inline-block;
              background-image: url("../../../../../img/svg/avatar-gray.svg");
              background-repeat: no-repeat;
              background-size: 1.5rem;
              width: 1.5rem;
              height: 1.5rem;
            }

            &:hover {
              .store {
                background-image: url("../../../../../img/svg/shopping-cart-white.svg");
                background-repeat: no-repeat;
                background-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
              }

              .site-search {
                background-image: url("../../../../../img/svg/search-white.svg");
                background-repeat: no-repeat;
                background-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
              }

              .account {
                background-image: url("../../../../../img/svg/avatar-white.svg");
                background-repeat: no-repeat;
                background-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .navbar {
      padding: 0 !important;

      .navbar-nav {
        border-top: none;
        height: 72px;

        .nav-item {
          border-bottom: none;
          &:hover {
            background-color: $cyan;

            .nav-link {
              color: $white;
            }
          }
          .nav-link {
            padding: 1.25rem;

            .icon {
              width: 1rem;
              height: 1rem;
            }

            &:active,
            &:hover {
              color: $white;
            }
          }

          .dropdown-toggle {
            &:hover::after {
              content: "";
              background-image: url("../../../../../img/svg/chevron-down-white.svg");
              background-repeat: no-repeat;
              background-size: 1rem;
              width: 1rem;
              height: 1rem;
              border: none;
            }
          }

          .avatar-icon:hover::after {
            content: "" !important;
            background-image: none !important;
            background-size: 0 !important;
            width: 0 !important;
            height: 0 !important;
          }

          .dropdown-menu {
            background-color: $gray-100;
            margin-top: 0;
            padding-top: 0.5rem;
            border: none;

            .dropdown-item {
              color: $cyan;

              &:hover,
              &:active {
                color: $secondary;
                text-decoration: underline;
              }
            }
          }
        }
      }

      .navbar-collapse {
        left: 0;
        margin-top: 0;
        margin-left: 0;
        overflow-x: visible;
      }

      .utilities {
        padding-left: 1.25rem;
        border-left: 1px solid $border-color;

        // Navbar - rotate icon on show/hide
        .dropdown .active {
          transform: none;
        }

        .dropdown.show .active {
          transform: none;
        }

        .nav-link {
          .icon {
            width: 1.5rem !important;
            height: 1.5rem !important;
          }
        }
      }
    }
  }
}
