// Name hero backgounds based on module/page name.
// Home page

.hero {
  background-size: cover;
  background-position: 90%;
  background-repeat: no-repeat;
  height: 10rem;

  @include media-breakpoint-up(md) {
    height: 15rem;
  }
  @include media-breakpoint-up(lg) {
    height: 17rem;
  }
  @include media-breakpoint-up(xl) {
    height: 20rem;
  }
}

.alerts-bg {
  background-image: url("../../../../../img/alerts.jpg");
}

.blog-bg {
  background-image: url("../../../../../img/blog.jpg");
}

.carpool-vanpool-bg {
  background-image: url("../../../../../img/carpool-vanpool.jpg");
}

.contact-us-bg {
  background-image: url("../../../../../img/contact-us.jpg");
}

.fares-bg {
  background-image: url("../../../../../img/fares.jpg");
}

.go-to-card-bg {
  background-image: url("../../../../../img/goto-card.jpg");
}

.home-bg,
.placeholder-bg {
  background-image: url("../../../../../img/mt-header-lrt-2000x457.jpg");
}

.how-to-ride-bg {
  background-image: url("../../../../../img/how-to-ride.jpg");
}

.news-bg {
  background-image: url("../../../../../img/news.jpg");
}

.nextrip-bg {
  background-image: url("../../../../../img/nextrip.jpg");
}

.park-ride-bg {
  background-image: url("../../../../../img/park-ride.jpg");
}

.pass-programs-bg {
  background-image: url("../../../../../img/pass-programs.jpg");
}

.police-bg {
  background-image: url("../../../../../img/police.jpg");
}

.schedules-maps-bg {
  background-image: url("../../../../../img/schedules-maps.jpg");
}

.stops-stations-bg {
  background-image: url("../../../../../img/stops-stations.jpg");
}

.transit-initiatives-bg {
  background-image: url("../../../../../img/transit-initiatives.jpg");
}

.trip-planner-bg {
  background-image: url("../../../../../img/trip-planner.jpg");
}
