#homeContent {
  position: relative;
  top: -4.62rem;
  margin-bottom: -4.62rem;

  @include media-breakpoint-up(md) {
    top: -4.2rem;
  }

  @include media-breakpoint-up(xl) {
    top: -5.12rem;
  }

  .section {
	  padding-top: 30px;
	  padding-bottom: 30px;

	  @include media-breakpoint-up(lg) {
		  padding-top: 60px;
		  padding-bottom: 60px;
	  }
  }
}
