#findSchedulesByRoute {
	.input-group {
		max-width: 570px;

		@include media-breakpoint-up(md) {
			width: 100%;
		}

		.custom-width {
			@include media-breakpoint-up(md) {
				width: 531px;
			}

			@include media-breakpoint-up(lg) {
				width: 521px;
			}
		}
		.form-control {
			border-right: none;
		}
	}
	.input-group-append {
		.btn {
			background-color: $white;
			border: 0;

			.icon {
				width: 1rem;
				height: 1rem;

				@include media-breakpoint-up(lg) {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		.input-group-text {
			background-color: $white;
			.icon {
				width: 1rem;
				height: 1rem;

				@include media-breakpoint-up(lg) {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
	}
}
