.page-content {
  .htmlmodule {
    width: 770px;
    margin: 0 auto;
  }

  .content-full-width {
    .htmlmodule {
      width: 1140px !important;
    }
  }

  h2 {
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }

    .icon {
      @include media-breakpoint-up(lg) {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
      }
    }
  }

  .secondary-hero {
    width: 100%;
    height: auto;
    margin-bottom: 15px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 30px;
    }
  }
}
