#primaryPage {

    // refer to _hero-badckgrounds.scss for styles relating to the hero image.

    h1 {
        position: absolute;
        left: 0;
        top: 5.25rem;
        background-color: $white;
        color: $gray-300;
        display: inline-flex;
        @include fontSize(23);
        opacity: 0.9;
        padding: 1rem;
        width: auto;

        @include media-breakpoint-up(md) {
            top: 8.5rem;
            @include fontSize(41);
        }

        @include media-breakpoint-up(lg) {
            top: 11rem;
        }

        @include media-breakpoint-up(xl) {
            top: 13rem;
        }
    }

    section.section {

        h2 {
            @include media-breakpoint-up(lg) {
                margin-bottom: 2rem;
            }

            .icon {

                @include media-breakpoint-up(lg) {
                    width: 3rem;
                    height: 3rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}
