.route {
  .schedule-days h3 {
    font-weight: normal !important;
  }

  .list-group-item {
    &:first-child {
      border-top: none;
    }

    .frequency {
      width: 450px;
    }
  }

  .date-time-color {
    width: 1.5rem;
    height: 1.5rem;
  }

  .button-container-icon-right,
  .link-pdf-container,
  .btn-wrapper {
    text-align: center !important;
  }
}
