.route {
  .schedule-days {
    h3 {
      font-weight: normal !important;
    }

    button {
      display: block;
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: 17.5rem;
      }
    }

    button:not(:last-child) {
      margin-bottom: 1rem !important;
    }
  }

  .list-group-item {
    &:first-child {
      border-top: none;
    }

    .frequency {
      width: 270px;

      @include media-breakpoint-up(lg) {
        width: 450px;
      }
    }
  }

  .date-time-color {
    width: 1.5rem;
    height: 1.5rem;
  }

  .button-container-icon-right,
  .link-pdf-container,
  .btn-wrapper {
    text-align: center !important;
  }

  .btn-outline-secondary {
    text-transform: capitalize;
  }
}
