.route {
  .schedule-days{
    margin-right:2.5rem;
  }
  .date-time-color {
    width: 1.5rem;
    height: 1.5rem;
  }

  .list-group-item {
    &:first-child {
      border-top: none;
    }

    .frequency {
      width: 270px;

      @include media-breakpoint-up(lg) {
        width: 450px;
      }
    }
  }

  .button-container-icon-right,
  .link-pdf-container,
  .btn-wrapper {
    text-align: center !important;
  }
}
