#schedulesMaps {
	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	.auto-complete-search-box {
		.input-group {
			width: 100%;
			margin-bottom: 0;
			.custom-width {
				width: 297px;
				@include media-breakpoint-up(md) {
					width: 529px;
				}

				@include media-breakpoint-up(lg) {
					width: 521px;
				}
			}
			.form-control {
				border-right: none;
			}
		}
		.input-group-append {
			.btn {
				background-color: $white;
				border: 0;

				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}

			.input-group-text {
				background-color: $white;
				border-left: none;
				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}
		}
	}

	h2 {
		position: relative;
		padding: 0.5rem 0 0.5rem 3rem;

		@include media-breakpoint-up(lg) {
			line-height: 1.35;
			margin-bottom: 2rem;
			padding: 0 0 0 3rem;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-repeat: no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
		}

		// METRO Light Rail
		&.mlr::before {
			background-image: url('../../../../../img/svg/circle-gray-lrt.svg');
		}

		// Popular bus routes
		&.pbr::before {
			background-image: url('../../../../../img/svg/circle-gray-outline-bus.svg');
		}

		// METRO Bus Rapid Transit
		&.mbrt::before {
			background-image: url('../../../../../img/svg/circle-gray-bus.svg');
		}

		// Commuter Rail
		&.cr::before {
			background-image: url('../../../../../img/svg/circle-gray-train.svg');
		}

		// Interactive map
		&.ir::before {
			background-image: url('../../../../../img/svg/schedules-maps-color.svg');
		}
	}

	.btn-route-lg {
		display: block;
		margin: 0 auto 1rem auto;

		&:last-child {
			margin: 0 auto;

			@include media-breakpoint-up(md) {
				margin: 0 0 1rem 0;
			}
		}

		@include media-breakpoint-up(md) {
			margin: 0 0 1rem 0;
		}
	}

	.btn-route {
		@include media-breakpoint-up(lg) {
			margin-right: 0.5rem;
		}
	}

	#systemMaps h2 {
		padding: 0;
	}
}
