#schedulesMaps {
	.icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	.auto-complete-search-box {
		.input-group {
			width: 100%;
			margin-bottom: 0;
			.custom-width {
				width: 297px;
				@include media-breakpoint-up(md) {
					width: 529px;
				}

				@include media-breakpoint-up(lg) {
					width: 521px;
				}
			}
		}
		.input-group-append {
			.btn {
				background-color: $white;
				border: 0;
				padding: 0.563rem 1rem;

				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}

			.input-group-text {
				background-color: $white;
				border-left: none;
				.icon {
					width: 1rem;
					height: 1rem;

					@include media-breakpoint-up(lg) {
						width: 1.5rem;
						height: 1.5rem;
					}
				}
			}
		}
	}

	h2.has-icon-left {
		position: relative;
		padding: 0.5rem 0 0.5rem 3rem;

		@include media-breakpoint-up(lg) {
			line-height: 1.35;
			margin-bottom: 2rem;
			padding: 0 0 0 3rem;
		}

		// METRO Light Rail
		&.mlr::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-repeat: no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
			background-image: url('../../../../../img/svg/circle-gray-lrt.svg');
		}

		// Popular bus routes
		&.pbr::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-repeat: no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
			background-image: url('../../../../../img/svg/circle-gray-outline-bus.svg');
		}

		// METRO Bus Rapid Transit
		&.mbrt::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-repeat: no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
			background-image: url('../../../../../img/svg/circle-gray-bus.svg');
		}

		// Commuter Rail
		&.cr::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-repeat: no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
			background-image: url('../../../../../img/svg/circle-gray-train.svg');
		}

		// Interactive map
		&.ir::before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			background-repeat: no-repeat;
			background-size: 2.5rem;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 0.5rem;
			background-image: url('../../../../../img/svg/schedules-maps-color.svg');
		}
	}

	.btn-container {
		text-align: center;
		margin: 0 auto;

		.btn {
			margin-bottom: 1rem;
		}
	}

	.metro-light-rail {
		padding: 0;
		.btn-route-lg {
			display: block;
			margin: 0 auto 1rem auto;

			@include media-breakpoint-up(md) {
				//margin-right: 0;
				margin-left: 0;
			}

			@include media-breakpoint-up(lg) {
				margin-right: 1rem;
				margin-left: 0;
			}

			&:last-child {
				margin-bottom: 0;

				@include media-breakpoint-up(lg) {
					margin-bottom: 1rem;
				}
			}
		}

		@include media-breakpoint-up(lg) {
			display: flex;
			justify-content: start;
			flex-wrap: wrap;
		}
	}

	.metro-brt {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: start;
			flex-wrap: wrap;
		}

		.btn-route-lg {
			display: block;
			text-align: center;
			margin-right: auto;
			margin-left: auto;

			@include media-breakpoint-up(md) {
				margin-right: 1rem;
				margin-left: 0;
			}
		}
	}

	.commuter-rail {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: start;
			flex-wrap: wrap;
		}
	}

	.popular-bus-routes {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			justify-content: start;
		}

		.btn-route {
			&:last-child {
				margin-bottom: 1rem;
			}
		}
	}

	.btn-anchor-container {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		@include media-breakpoint-up(xl) {
			justify-content: start;
		}

		.btn-anchor {
			display: block;
			width: 220px;
			text-align: center;
			margin-right: auto;
			margin-bottom: 1rem;
			margin-left: auto;

			&:last-child {
				margin-bottom: 0rem;
			}

			@include media-breakpoint-up(md) {
				margin: 0;
				margin-bottom: 1rem;

				&:nth-child(7),
				&:nth-child(8) {
					margin-bottom: 0;
				}
			}

			@include media-breakpoint-up(lg) {
				&:nth-child(7),
				&:nth-child(8) {
					margin-bottom: 1rem;
				}

				&:nth-child(9) {
					margin-bottom: 0;
				}
			}

			@include media-breakpoint-up(xl) {
				margin: 0;
				margin-right: 0.625rem;
				margin-bottom: 1rem;

				&:nth-child(5n) {
					margin-right: 0;
				}

				&:nth-child(6),
				&:nth-child(7),
				&:nth-child(8) {
					margin-bottom: 0;
				}
			}
		}
	}

	.btn-route-container {
		display: flex;
		justify-content: start;
		flex-wrap: wrap;

		.btn-route {
			margin-right: 1rem;

			&:last-child {
				margin-bottom: 1rem;
			}
		}
	}

	#systemMaps h2 {
		padding: 0;
	}
}
