.schedule-days button {
  width: 95% !important;
  max-width: 23.125rem;
  text-transform: capitalize;
}

section.section > .container .schedule-days button.active {
  color: #0097d0 !important;
  background-color: #dbf4fd !important;
  border: 2px solid #0097d0 !important;
}

div.timetables {
  min-height: 45rem;
}

div.timetable-container {
  margin-top: -2.5rem;
}

.timetable-container table {
  margin: 0;
  font-size: 0.8rem;
  border-bottom: 1px solid #8a8b8a;
}

tr.downtown {
  position: relative;
}

div.zone {
  background-color: #fff;
  position: absolute;
  margin: 3rem 0 0 8.5rem;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
  border-radius: 2rem;
}

div.timetable-times {
  height: 30rem;
  overflow: auto;
}

div.timetable-times table {
  border-bottom: 1px solid #8a8b8a;
}

.table-header-rotated th.rotate {
  font-weight: normal;
  height: 12rem;
  white-space: nowrap;
  padding: 0;
  min-width: 2.75rem;
  max-width: 2.75rem;
}

.table-header-rotated th:first-child {
  font-weight: 700;
  min-width: 3rem;
  max-width: 3rem;
  padding-left: 0.2rem;
}

.table-header-rotated th.rotate div {
  -webkit-transform: translate(1.7rem, 4.4rem) rotate(-45deg);
  transform: translate(1.7rem, 4.4rem) rotate(-45deg);
  width: 100%;
}

@media (min-width: 768px) {
  .table-header-rotated th.rotate div {
    -webkit-transform: translate(1.7rem, 4.4rem) rotate(-45deg);
    transform: translate(1.7rem, 4.4rem) rotate(-45deg);
  }
}

@media (min-width: 992px) {
  .table-header-rotated th.rotate div {
    -webkit-transform: translate(1.7rem, 4.4rem) rotate(-45deg);
    transform: translate(1.7rem, 4.4rem) rotate(-45deg);
  }
}

.table-header-rotated th.rotate div span {
  display: inline-block;
  width: 12rem;
  height: 2rem;
  border-bottom: 1px solid #8a8b8a;
  line-height: 0.8rem;
  text-indent: -1rem;
  padding: 0.2rem 0 0 0.5rem;
}

.table-header-rotated th.rotate span.single-line {
  padding: 0.5rem 0 0 1rem;
}

.table-header-rotated tr.sub-header th:first-child {
  border-left: none;
}

.table-header-rotated tr.sub-header th {
  border: 1px solid #8a8b8a;
  border-top: none;
  height: 2.5rem;
  text-align: center;
}

.table-header-rotated tr.sub-header th div {
  border: 1px solid #8a8b8a;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  margin: auto;
  padding-top: 0.3em;
}

.table-header-rotated thead.ampm {
  background-color: #f5f5f4;
  border: 1px solid #8a8b8a;
  border-top: none;
}

.table-header-rotated th.row-header {
  border: 1px solid #8a8b8a;
  border-right: none;
  border-bottom: none;
  padding: 0 3px;
  min-width: 3rem;
  max-width: 3rem;
}

.table-header-rotated td {
  border: 1px solid #8a8b8a;
  border-bottom: none;
  text-align: center;
  padding: 5px 0;
  min-width: 2.75rem;
  max-width: 2.75rem;
}

tr.alt td,
tr.alt th.row-header {
  border-top: none;
  padding-top: 0;
}

.rush {
  background-color: #ddd;
}
