.secondary-nav {
  .nav-item {
    padding: 0.5rem 1rem;

    .nav-link {
      color: #b0b1b0;
      //   font-size: 1rem;
      padding: 0;
      transition: transform 0.8s;
    }
    .active {
      color: $gray-600;
      border-bottom: 2px solid $cyan;
    }
  }
}
