.search-box {
    background: $gray-100;
    position: absolute;
    top: 67px;
    right: 0;
    width: 420px;
    padding: 1rem;
    display: none;

    .form-control {
        color: $gray-600;
        @include fontSize(18);
    }

    .input-group-append {
        background-color: #fff;

        .btn-primary {
            background-color: $white;
            border: 1px solid $border-color;
            border-left: 0;
            @include fontSize(18);
        }
    }
}
